/*! define cashier/order-detail/1.0.0/order-detail-debug.css */
/* cashier.order-detail style module */

.cashier-order-detail {
    background-color: #f3f7fb;
    border-bottom: 3px solid #43a6db;
}

.cashier-order-detail .container {
    padding: 0 0 10px 25px;
}

.cashier-order-detail .detail-order-row {
    width: 420px;
    padding-top: 10px;
    height: 25px;
    line-height: 25px;
}

.cashier-order-detail .detail-order-row.last {

}

.cashier-order-detail .detail-order-row .text {
    display: inline-block;
    width: 300px;
    float: left;
}

.cashier-order-detail .detail-order-row .money {
    float: right;
}

.cashier-order-detail .detail-order-row .money small {
    color: #494949;
    font-size: 12px;
    margin-left: 5px;
}

.cashier-order-detail .detail-order-row.last .text {
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.cashier-order-detail .detail-order-row.last .money {
    color: #ff601c;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

.cashier-order-detail .detail-order-row.last .money small {
    color: #494949;
    font-size: 12px;
    margin-left: 5px;
}

.cashier-order-detail .detail-order-row img{
    cursor: pointer;
    margin-left: 10px;
}

.cashier-order-detail .detail-expand {
    color: #818385;
}

.cashier-order-detail .detail-expand .row {
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

.cashier-order-detail .detail-expand .row label {
    display: inline-block;
    width: 65px;
    text-align: right;
    margin-right: 5px;
}
