/*! define consumer/prepaidcard-charge/1.0.0/prepaidcard-charge-debug.css */
/* consumer.prepaidcard-charge style module */

/*! block pafweblib/box/1.0.0/box-debug.css */
/* pafweblib.box 样式模块 */

.paf-box {
    border: 1px solid #ededed;
    zoom: 1;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.paf-box:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.paf-box-follow /*--使用在box和上面的box相连的情况下 --*/ {
    border-top: none;
}

.paf-box-head {
    border-bottom: 1px solid #ededed;
    position: relative;
    padding: 10px;
    height: 16px;
    line-height: 16px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fafafa));
    background: -moz-linear-gradient(top, #fcfcfc, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#fafafa');
    background: -o-linear-gradient(top, #fcfcfc, #fafafa);
    background: linear-gradient(top, #fcfcfc, #fafafa);
    zoom: 1;
}

.paf-box-forehead{
    border-bottom: 0 none;
}

.paf-box-head .paf-box-head-title {
    color: #656565;
    font-size: 16px;
    font-weight: bold;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

.paf-box-head .paf-box-head-more {
    float: right;
}

.paf-box-head .paf-box-head-text {
    margin-left: 10px;
    color: #808080;
    float: left;
}

.paf-box-container {
    background: #fff;
    border-bottom: 1px solid #ededed;
}

.paf-box-content /* 可选，用于默认有内边距的box */ {
    padding: 10px;
}
/*! endblock pafweblib/box/1.0.0/box-debug.css */

/*! block pafweblib/form/1.0.0/form-debug.css */
/*
** form
** @Author: xujia
*/
.paf-form {
    font-size: 14px;
    color: #333;
}

.paf-form fieldset {
    border:0;
}

.paf-form legend {
    display: none;
}

.paf-form .control-group {
    margin-bottom: 10px;
    *zoom: 1;
}

.paf-form .control-group:before,
.paf-form .control-group:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.paf-form .control-label {
    float: left;
    width: 160px;
    line-height: 30px;
    text-align: right;
}

.paf-form .controls {
    line-height: 30px;
    margin-left: 170px;
    color: #666;
}

.paf-form input{
    padding: 6px 4px;
    width: 230px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #bbb;
    color: #666;
}

.paf-form textarea {
    line-height: 16px;
    border: 1px solid #bbb;
    padding: 2px 4px;
    width: 230px;
    height: 48px;
    overflow: auto;
    font-size: 14px;
}
.paf-form .control-group-checkbox .controls{
    line-height: 1.4;
    font-size: 12px;
    cursor: default;
}
.paf-form .control-group-checkbox .checkbox{
    width: auto;
    height: auto;
    vertical-align: baseline;
    margin-right: 4px;
    padding: 0px;
    border: 0 none;
}

.paf-form .control-group-btn .controls{
    width: 238px;
}

.paf-form .control-group-btn button{
    margin-right: 8px;
}

.paf-form input:active, .paf-form input:focus, .paf-form input:hover,
.paf-form textarea:active, .paf-form textarea:focus, .paf-form textarea:hover{
    border: 1px #aaa solid;
    box-shadow: none;
    outline: none;
    outline-offset: 0
}

.paf-form input:disabled,.paf-form input.disabled,
.paf-form textarea:disabled,.paf-form textarea.disabled{
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.paf-form :-moz-placeholder,.paf-form :-ms-input-placeholder,.paf-form :-webkit-input-placeholder {
    color: #cccccc;
}

.paf-form .help-block{
    margin: 0;
    padding: 4px 0 0;
    color: #aaa;
    line-height: 1.4;
}

.paf-form .help-inline{
    margin-left: 8px;
    color: #aaa;
}

.paf-form .control-group-error input{
    border: 1px solid #f00;
}

.paf-form .control-group-error .help-block{
    color: #f00;
}

.paf-form .control-group-success .help-block{
    color: #659324;
}
/*! endblock pafweblib/form/1.0.0/form-debug.css */

/*! block pafweblib/btn/2.0.0/btn-debug.css */
/* 默认样式 */
.paf-btn {
    display: inline-block;
    *display: inline;
    padding: 11px 18px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 16px;
    line-height: 1;
    color: #818181;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    font-weight: normal;
    *zoom: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.paf-btn:hover,
.paf-btn:focus,
.paf-btn:active,
.paf-btn.active {
    color: #fff;
    background-color: #0087e3;
    border-color: #0087e3;
}

.paf-btn.disabled,
.paf-btn[disabled],
.paf-btn[disabled]:hover,
.paf-btn[disabled]:active{
    color: #818181;
    background-color: #c7c7c7;
    border-color: #c7c7c7;
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

/* 可选项: 尺寸大小 */
.paf-btn-large {
    padding: 13px 21px;
    font-size: 20px;
}

.paf-btn-small {
    padding: 7px 12px;
    font-size: 14px;
}

/* 颜色可选项: primary、info */
.paf-btn-primary {
    color: #ffffff;
    border-color: #0087e3;
    background-color: #0087e3;
}

.paf-btn-primary:hover,
.paf-btn-primary:focus,
.paf-btn-primary:active,
.paf-btn-primary.active {
    border-color: #0a77cf;
    background-color: #0a77cf;
}

/* 主颜色背景下的按钮 */
.paf-btn-bg-primary{
    color: #fff;
    background-color: #0087e3;
    border-color: #fff;
}
.paf-btn-bg-primary:hover,
.paf-btn-bg-primary:focus,
.paf-btn-bg-primary:active,
.paf-btn-bg-primary.active {
    color: #0087e3;
    border-color: #fff;
    background-color: #fff;
}
/*! endblock pafweblib/btn/2.0.0/btn-debug.css */

/*! block consumer/prepaidcard-charge/1.0.0/cards-debug.css */
/*
*prepaidCard base css
*author:wangjie
*date:2014/3/31
*/
.green {
    color: #39b801;
}
.red{
	color:#d5c7bd;
}
.darkGreen {
    color: #648013;
}

.orange {
    color: #ff9138;
}

.brown {
    color: #693a2b;
}

.operator {
    color: #0099cc;
}

.w40 {
    width: 40px;
}

.marBot0 {
    margin-bottom: 0;
}

span.errorCode {
    float: left;
    color: #ffffff;
}

span.inputTip {
    color: #999999;
    font-size: 12px;
    margin-left: 5px;
}

div.rightDiv {
    float: left;
}

div.prepaidP {
    width: 100%;
    border: solid 1px #ededed;
}

h3.prepaidH3css1 {
    background-color: #fcfcfc;
    font-size: 16px;
    color: #724637;
    text-shadow: 1px 0 0 #ae958d;
}

div.addPrepaidCard {
    border-bottom: solid 1px #ededed;
    height: 52px;
    clear: both;
}

div.addPrepaidCard div, div.addPrepaidCard a {
    font-size: 14px;
    float: left;
}

div.addPrepaidCard div {
    height: 52px;
    line-height: 52px;
    margin-left: 20px;
}

div.cardsMoney b.bCss1 {
    font-size: 16px;
}

div.addPrepaidCard a {
    margin: 10px 20px;
    display: block;
    width: 121px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: solid 1px #dddddd;
    background-color: #fcfcfc;
    text-decoration: none;
    cursor: pointer;
}

div.addPrepaidCard a span {
    color: #666666;
    text-shadow: 0 1px 0 #fff;
}

div.prepaidCardsList {
    text-align: center;
}

div.prepaidCardsList table, div.cardsTips {
    width: 750px;
    margin: 15px auto 0;
}

div.prepaidCardsList table th {
    text-align: center;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    background-color: #f2f2f2;
    border: solid 1px #eeeeee;
    color: #666666;
    padding: 1px;
}

div.prepaidCardsList table td {
    color: #666666;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}

div.prepaidCardsList table td span {
    font-size: 12px;
}

div.prepaidCardsList table tr:nth-child(even) td {
    background-color: #fff;
}

div.prepaidCardsList table tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

td.noCardsTd {
    padding-left: 19px;
    text-align: left;
    height: 36px;
    border-bottom: solid 1px #f5f5f5;
}

div.cardsTips {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

div.cardsTips p {
    line-height: 21px;
    color: #999999;
    font-size: 12px;
    padding-left: 2px;
}

table.cardIntro {
    margin: 21px 0 66px;
}

table.cardIntro td {
    text-align: left;
    vertical-align: top;
}

table.cardIntro td.introIcon {
    width: 116px;
}

table.cardIntro td.introIcon div {
    width: 114px;
    height: 88px;
    background-color: #fff;
    border: solid 1px #ededed;
}

table.cardIntro td.introIcon div.fuliIcon {
    background: url(../../../../../img/prepaidCard/cardIcon/fuLiCard.png) no-repeat;
}

table.cardIntro td.introText {
    padding: 0 27px 0 9px;
}

table.cardIntro td.introText h3 {
    color: #734739;
    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
    line-height: 20px;
}

table.cardIntro td.introText p {
    color: #707070;
    font-size: 12px;
    line-height: 22px;
}

table.cardIntro td.last {
    padding-right: 0;
}

/*--------add PrepaidCard-----------*/
div.prepaidCardForm-div div.form-group .controls div.help-block {
    margin-left: 0px;
    display: table;
    clear: both;
}

/*div.prepaidCardForm-div div.form-group .controls span input {*/
    /*width: 232px;*/
    /*line-height: 26px;*/
    /*padding: 0 3px;*/
    /*height: 26px;*/
/*}*/

span.defaultCardHearderNo {
    border: solid 1px #bbbbbb;
    border-right: none;
    background-color: #fafafa;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 0;
    float: left;
}

div.prepaidCardForm-div div.form-group .controls input.hasHeaderNum {
    width: 163px;
    padding-left: 0;
}

div.prepaidCardForm-div div.form-group .controls input.checkcode {
    width: 150px;
}

div.prepaidCardForm-div div.form-group .controls button.otpButton {
    height: 32px;
    line-height: 32px;
    border: solid 1px #BBBBBB;
    background-color: #fafafa;
    color: #666666;
    padding: 0;
    min-width: 75px;
    width: 75px;;
    margin-left: 5px;
}

div.prepaidCardForm-div div.form-group .controls button.addPrepaidBut {
    width: 240px;
}

div.prepaidCardForm-div div.form-group label.control-label, h3.prepaidInputTip {
    font-size: 14px;
    color: #7a7a7a;
    text-shadow: 1px 0px 0px #c2c2c2;
}

a.prepaidAgree span {
    font-size: 14px;
    color: #11a0cf;
    text-shadow: 1px 0px 0px #11a0cf;
}

div.confirmCardInfo {
    margin: 0;
    margin-bottom: 20px;
}

h3.prepaidInputTip {
    line-height: 47px;
    padding-left: 21px;
}

div.formError {
    background-color: #fff1e5;
    height: 29px;
    line-height: 29px;
    width: 100%;
    color: #db2727;
    text-shadow: 1px 0px 0px #ed8c86;
}

div.formError span.errorIcon {
    width: 17px;
    height: 16px;
    background: url(../../../../../img/icons/state/fail_16.png) no-repeat;
    display: block;
    float: left;
    margin: 6px 6px auto 13px;
}

div.formError span.addPrepaidCardError {
    color: #fff1e5;
    text-shadow: none;
    float: right
}
/*! endblock consumer/prepaidcard-charge/1.0.0/cards-debug.css */

/*! block consumer/prepaidcard-charge/1.0.0/charge-debug.css */
.paf-box { border-bottom: 1px solid #ededed; margin-bottom: 20px }
.paf-notify-error { overflow:auto }
.control-group{ clear:both }
.errorCode{ color:#eed3d7; text-shadow:none }
.floatLeft{ float:left; display:inline-block }
.floatRight{ float:right; display:inline-block }
.control input.noBold { border: none }
/*! endblock consumer/prepaidcard-charge/1.0.0/charge-debug.css */
