/*! define consumer/deposit/1.0.0/hqbao-deposit-debug.css */
/* consumer.hqbao-deposit style module */

/*! block pafweblib/table/1.0.0/table-debug.css */
/* 表格样式 module */
paf-table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.paf-table {
    width: 100%;
    margin-bottom: 20px;
}

.paf-table th,
.paf-table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.paf-table th {
    font-weight: bold;
}

.paf-table thead th {
    vertical-align: bottom;
}

.paf-table caption + thead tr:first-child th,
.paf-table caption + thead tr:first-child td,
.paf-table colgroup + thead tr:first-child th,
.paf-table colgroup + thead tr:first-child td,
.paf-table thead:first-child tr:first-child th,
.paf-table thead:first-child tr:first-child td {
    border-top: 0;
}

.paf-table tbody + tbody {
    border-top: 2px solid #dddddd;
}

.paf-table .paf-table {
    background-color: #ffffff;
}

.paf-table.condensed th,
.paf-table.condensed td {
    padding: 4px 5px;
}

.paf-table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.paf-table-bordered th,
.paf-table-bordered td {
    border-left: 1px solid #dddddd;
}

.paf-table-bordered caption + thead tr:first-child th,
.paf-table-bordered caption + tbody tr:first-child th,
.paf-table-bordered caption + tbody tr:first-child td,
.paf-table-bordered colgroup + thead tr:first-child th,
.paf-table-bordered colgroup + tbody tr:first-child th,
.paf-table-bordered colgroup + tbody tr:first-child td,
.paf-table-bordered thead:first-child tr:first-child th,
.paf-table-bordered tbody:first-child tr:first-child th,
.paf-table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.paf-table-bordered thead:first-child tr:first-child > th:first-child,
.paf-table-bordered tbody:first-child tr:first-child > td:first-child,
.paf-table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.paf-table-bordered thead:first-child tr:first-child > th:last-child,
.paf-table-bordered tbody:first-child tr:first-child > td:last-child,
.paf-table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.paf-table-bordered thead:last-child tr:last-child > th:first-child,
.paf-table-bordered tbody:last-child tr:last-child > td:first-child,
.paf-table-bordered tbody:last-child tr:last-child > th:first-child,
.paf-table-bordered tfoot:last-child tr:last-child > td:first-child,
.paf-table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.paf-table-bordered thead:last-child tr:last-child > th:last-child,
.paf-table-bordered tbody:last-child tr:last-child > td:last-child,
.paf-table-bordered tbody:last-child tr:last-child > th:last-child,
.paf-table-bordered tfoot:last-child tr:last-child > td:last-child,
.paf-table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.paf-table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}

.paf-table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.paf-table-bordered caption + thead tr:first-child th:first-child,
.paf-table-bordered caption + tbody tr:first-child td:first-child,
.paf-table-bordered colgroup + thead tr:first-child th:first-child,
.paf-table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.paf-table-bordered caption + thead tr:first-child th:last-child,
.paf-table-bordered caption + tbody tr:first-child td:last-child,
.paf-table-bordered colgroup + thead tr:first-child th:last-child,
.paf-table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.paf-table-striped tbody > tr:nth-child(odd) > td,
.paf-table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.paf-table-hover tbody tr:hover > td,
.paf-table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}

.paf-table-fixed{
    table-layout: fixed;
    border-collapse:separate;
}
.paf-table-break{
    word-wrap: break-word;
    word-break: break-all;
}
/*! endblock pafweblib/table/1.0.0/table-debug.css */

/*! block pafweblib/btn/1.0.0/btn-debug.css */
/* pafweblib button style module*/

/* 默认样式 */
.paf-btn {
    display: inline-block;
    *display: inline;
    padding: 6px 16px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #f5f5f5 repeat-x;
    *background-color: #e6e6e6;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #cfcfcf;
    *zoom: 1;
}
.paf-btn.paf-btn-gradient{
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.paf-btn:hover,
.paf-btn:focus,
.paf-btn:active,
.paf-btn.active,
.paf-btn.disabled,
.paf-btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.paf-btn:active,
.paf-btn.active {
    background-color: #cccccc \9;
}

.paf-btn:first-child {
    *margin-left: 0;
}

.paf-btn:hover,
.paf-btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
}
.paf-btn.paf-btn-gradient:hover,
.paf-btn.paf-btn-gradient:focus{
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.paf-btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.paf-btn.active,
.paf-btn:active {
    background-image: none;
    outline: 0;
}

.paf-btn.disabled,
.paf-btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

/* 可选项: 尺寸大小 */
.paf-btn-large {
    padding: 11px 19px;
    font-size: 18px;
}

.paf-btn-large [class^="icon-"],
.paf-btn-large [class*=" icon-"] {
    margin-top: 4px;
}

.paf-btn-small {
    padding: 2px 10px;
    font-size: 12px;
}

.paf-btn-small [class^="icon-"],
.paf-btn-small [class*=" icon-"] {
    margin-top: 0;
}

.paf-btn-mini [class^="icon-"],
.paf-btn-mini [class*=" icon-"] {
    margin-top: -1px;
}

.paf-btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
}

/* 可选项: block 大按钮 */
.paf-btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.paf-btn-block + .paf-btn-block {
    margin-top: 5px;
}

/* 可选项: 圆角 */
.paf-btn.paf-btn-radius{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.paf-btn-large.paf-btn-radius{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.paf-btn-small.paf-btn-radius, .paf-btn-mini.paf-btn-radius{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* 颜色可选项: primary、info */
.paf-btn-primary {
    color: #ffffff;
    background: #ff9138 repeat-x;
    *background-color: #ff9138;
    border-color: #ff7138;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.paf-btn-primary.paf-btn-gradient{
    background-image: -moz-linear-gradient(top, #ffa738, #ff7138);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa738), to(#ff7138));
    background-image: -webkit-linear-gradient(top, #ffa738, #ff7138);
    background-image: -o-linear-gradient(top, #ffa738, #ff7138);
    background-image: linear-gradient(to bottom, #ffa738, #ff7138);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa738', endColorstr='#ff7138', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.paf-btn-primary:hover,
.paf-btn-primary:focus,
.paf-btn-primary:active,
.paf-btn-primary.active,
.paf-btn-primary.disabled,
.paf-btn-primary[disabled] {
    color: #ffffff;
    background-color: #ff7138;
    *background-color: #df8505;
}

.paf-btn-primary:active,
.paf-btn-primary.active {
    background-color: #c67605 \9;
}

.paf-btn-important {
    color: #ffffff;
    background: #006dcc repeat-x;
    *background-color: #0044cc;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.paf-btn-important.paf-btn-gradient{
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.paf-btn-important:hover,
.paf-btn-important:focus,
.paf-btn-important:active,
.paf-btn-important.active,
.paf-btn-important.disabled,
.paf-btn-important[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.paf-btn-important:active,
.paf-btn-important.active {
    background-color: #003399 \9;
}
/*! endblock pafweblib/btn/1.0.0/btn-debug.css */

/*! block pafweblib/form/1.0.0/form-debug.css */
/*
** form
** @Author: xujia
*/
.paf-form {
    font-size: 14px;
    color: #333;
}

.paf-form fieldset {
    border:0;
}

.paf-form legend {
    display: none;
}

.paf-form .control-group {
    margin-bottom: 10px;
    *zoom: 1;
}

.paf-form .control-group:before,
.paf-form .control-group:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.paf-form .control-label {
    float: left;
    width: 160px;
    line-height: 30px;
    text-align: right;
}

.paf-form .controls {
    line-height: 30px;
    margin-left: 170px;
    color: #666;
}

.paf-form input{
    padding: 6px 4px;
    width: 230px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #bbb;
    color: #666;
}

.paf-form select{
    width: 240px;
    height: 30px;
    border: 1px solid #bbb;
    color: #666;
}

.paf-form textarea {
    line-height: 16px;
    border: 1px solid #bbb;
    padding: 2px 4px;
    width: 230px;
    height: 48px;
    overflow: auto;
    font-size: 14px;
}
.paf-form .control-group-checkbox .controls{
    line-height: 1.4;
    font-size: 12px;
    cursor: default;
}
.paf-form .control-group-checkbox .checkbox{
    width: auto;
    height: auto;
    vertical-align: baseline;
    margin-right: 4px;
    padding: 0px;
    border: 0 none;
}

.paf-form .control-group-btn .controls{
    width: 238px;
}

.paf-form .control-group-btn button{
    margin-right: 8px;
}

.paf-form input:active, .paf-form input:focus, .paf-form input:hover,
.paf-form textarea:active, .paf-form textarea:focus, .paf-form textarea:hover{
    border: 1px #aaa solid;
    box-shadow: none;
    outline: none;
    outline-offset: 0
}

.paf-form input:disabled,.paf-form input.disabled,
.paf-form textarea:disabled,.paf-form textarea.disabled{
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.paf-form :-moz-placeholder,.paf-form :-ms-input-placeholder,.paf-form :-webkit-input-placeholder {
    color: #cccccc;
}

.paf-form .help-block{
    margin: 0;
    padding: 4px 0 0;
    color: #aaa;
    line-height: 1.4;
}

.paf-form .help-inline{
    margin-left: 8px;
    color: #aaa;
}

.paf-form .control-group-error input{
    border: 1px solid #f00;
}

.paf-form .control-group-error .help-block{
    color: #f00;
}

.paf-form .control-group-success .help-block{
    color: #659324;
}
/*! endblock pafweblib/form/1.0.0/form-debug.css */

/*! block pafweblib/notify/1.0.0/notify-debug.css */
/* 提示信息框模块 */

/* 基础样式 */
.paf-notify {
    display: block;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.4;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    color: inherit;
}

.paf-notify h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.paf-notify p{
    margin: 0;
}

.paf-notify .close {
    float: right;
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.paf-notify .close:hover,
.paf-notify .close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/* 替换类型: success、info、warn、error  */
.paf-notify-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.paf-notify-success h4 {
    color: #468847;
}

.paf-notify-warn {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
}

.paf-notify-warn h4 {
    color: #c09853;
}

.paf-notify-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.paf-notify-error h4 {
    color: #b94a48;
}

.paf-notify-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.paf-notify-info h4 {
    color: #3a87ad;
}
/*! endblock pafweblib/notify/1.0.0/notify-debug.css */

/*! block consumer/tabpanel/1.0.0/tabpanel-debug.css */
.tabpanel {
    border: 1px #ededed solid;
    *zoom: 1;
}

.tabpanel .tab-item-conainer {
    *zoom: 1;
}

.tabpanel .tab-item-conainer:after{
    content: '\0020';
    height: 0px;
    clear: both;
    display: table;
}

.tabpanel .tab-item-conainer{
    background-color: #fcfcfc;
    height: 40px;
    border-bottom: 1px solid #ededed;
}

.tabpanel .tab-item {
    display: inline;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align:center;
    border-right: 1px solid #ededed;
}

.tabpanel .tab-item a{
    display: block;
    padding: 0 32px;
    color: #666666;
    text-decoration: none;
}

.tabpanel .tab-item a:hover{
    color: #693a2b;
    line-height: 38px;
    background-color: #fff;
    text-decoration: none;
}

.tabpanel .tab-item-current{
    cursor: default;
    line-height: 38px;
    padding-top: 1px;
    background: #fff;
}

.tabpanel .tab-item-current a{
    color: #693a2b;
    cursor: default;
}

.tabpanel .item-more{
    float: right;
    line-height: 40px;
    color: #ff9138;
    font-weight: bold;
}

.tabpanel .item-more .icon-safe{
    display: inline-block;
    position: relative;
    top: 8px;
    margin: 0 8px;
    width: 18px;
    height: 22px;
    background: url("/static/consumer/consumer-modules/tabpanel/src/safe.png") no-repeat;
}

.tabpanel .panel-item{
    display: none;
    padding: 10px;
}

.tabpanel .panel-item-current{
    display: block;
}
/*! endblock consumer/tabpanel/1.0.0/tabpanel-debug.css */

/*! block consumer/deposit/1.0.0/deposit-main-debug.css */
@charset "UTF-8";
.number{color: #ff9138; font-size: 18px; font-style: normal;}
.form-explain{clear: left; margin-left: 5px; font-size: 12px; color: #9a9a9a;}
div .protoles{margin-left: 0px; font-size: 12px;}

.table-limits{
    width: 400px;
    line-height: 14px;
    margin-bottom: 0px;
}
.table-limits th{
    color: #666;
}
.table-limits td{
    color: #999;
    line-height: 14px;
}
.profit-container{
    width: 440px;
    color: #666;
}
.profit-container h3{
    text-align: center;
    color: #333;
}

.back-error{
	display: block;
	background: #FFF1E5;
	color: #FF9138;
	line-height: 28px;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 10px;
}
/*! endblock consumer/deposit/1.0.0/deposit-main-debug.css */
