/*! define consumer/questionnaire-result/1.0.0/result-debug.css */
/* consumer.result style module */
.questionnaire-result  .resultDiv{
	border:solid 1px #d8e6ac;
	background-color:#f4fae1;
	padding-top:44px;
	padding-bottom:37px;
	text-align:center;
}
.questionnaire-result  .errorCode{color:#f4fae1;}
.questionnaire-result table{margin:0 auto;}
.questionnaire-result table td{text-align:left;}
.questionnaire-result  .resultDiv .resultIcon{width:30px;margin-right:20px;height:30px;}
.questionnaire-result  .failedIcon{
	background:url("/img/submitFailed.png") no-repeat scroll 0 0;
}
.questionnaire-result  .successIcon{
	background:url("/img/submitSuccess.png") no-repeat scroll 0 0;
}
.questionnaire-result  .resultTitleTip{font-size:18px;font-weight:bold;height:30px;line-height:30px;}
.questionnaire-result  .successTab .resultTitleTip{
	color:#648013;	
}
.questionnaire-result .resultContent{
	font-size:14px;
	color:#666666;
	margin-top:8px;
	margin-bottom:8px;
	line-height:25px;
}
.questionnaire-result .resultLinks a span{
	font-size:14px;
	color:#ff9138;
	line-height:25px;
}
.questionnaire-result  .failedTab .resultTitleTip{
	color:#d81919;	
}
