/**
* @Description: 网银支付选择弹出窗
* @Author: xujia(2013-12-17 11:00) 新建文件
* @dependency:
* img/icons/icons-bank-all.css
* css/modules/dialog/dialog.css
*/

/* 弹出窗 */
.dialog-absolute{
    position: absolute;
    top: 340px;
}
.dialog-inetpays h3{
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 0 8px;
    color: #666;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
}
.dialog-inetpays h3 span.title{
    font-size: 16px;
    font-weight: bold;
}
.dialog-inetpays .tab{
    margin: 12px 0;
}
.dialog-inetpays ul.banks{
    zoom: 1;
    width: 720px;
    margin: 0;
    list-style: none;
    border: 1px solid #ddd;
    background: #fcfcfc;
    padding: 0 20px 16px 5px;
	max-height: 360px;
	overflow-y: auto;
}
.dialog-inetpays ul.banks:before,
.dialog-inetpays ul.banks:after{
    display: table;
    content: "";
    clear: both;
}
.dialog-inetpays ul.banks li.bank{
    display: inline-block;
    width:25%;
    padding-top: 16px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}
.dialog-inetpays ul.banks label{
    height: auto;
    cursor: pointer;
    display: block;
}
.dialog-inetpays ul.banks input{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.dialog-inetpays ul.banks .box-icon{
    display: inline-block;
    padding: 6px 8px;
    margin: 1px;
    border: 1px solid #ccc;
}
.dialog-inetpays ul.banks .icon-bank{
    display: inline-block;
    text-indent: -9900px;
}
.dialog-inetpays ul.banks li:hover .box-icon,
.dialog-inetpays ul.banks li.active .box-icon{
    margin: 0;
    border: 2px solid #f78043;
}
.dialog-inetpays .box-error{
    width: 660px;
    height: 120px;
    line-height: 120px;
    font-size: 16px;
    text-align: center;
}
.dialog-inetpays .btns{
    margin: 12px 24px;
    text-align: center;
}