/*
** header-logo-bar
*/
.header-logo-bar {
    width: 950px;
    margin: 0 auto;
    padding: 16px 0;
    color: #333;
}
.header-logo-bar:after{
    content: "\0020";
    display: table;
    height: 0;
    clear: both;
}
.header-logo-bar a, .header-logo-bar a:active{
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: #444;
    text-decoration: none;
}
.header-logo-bar a:hover{
    text-decoration: underline;
}
.header-logo-bar .nav-list{
    float: right;
    height: 40px;
    line-height: 40px;
}
.header-logo-bar .nav-list li{
    display: inline-block;
    font-size: 16px;
}
.header-logo-bar .nav-list .split{
    border-right: 1px solid #ccc;
}
.header-logo-bar .nav-list .last{
    padding-right: 0px;
    margin-right: -5px;
}
.header-logo-bar .help-cell{
    float: right;
    color: #FF9138;
}
.header-logo-bar .help-cell h3{
    margin-bottom: 4px;
}
.header-logo-bar h1{
    float: left;
}
.header-logo-bar h1 a{
    display: inline-block;
    width: 220px;
    height: 40px;
    text-indent: -9999px;
    background: url("/static/consumer/consumer-modules/header/src/logo-302-40.png") no-repeat;
}
.header-logo-bar .system{
    display: inline-block;
    height: 20px;
    margin: 12px 0px 8px;
    padding: 0 12px;
    line-height: 20px;
    font-size: 18px;
    border-left: 1px solid #ccc;
}
.header-logo-bar .system.fn-hide{
    display: none;
}



