/*! define consumer/jqbao-open/1.0.0/index-debug.css */
.jqbao-open .jqb_mgt10{margin-top: 10px;}
.jqbao-open .jqb_mgl25{margin-left: 25px;}
.jqbao-open .jqb_hidden{display: none;}
.jqbao-open .jqb_clear{zoom: 1;clear: both;overflow: auto;}
.jqbao-open .jqb_minHmore{min-height: 350px;}
.jqbao-open .jqb_minH{min-height: 110px;margin-top: 20px;}
.jqbao-open .jqb_minHmiddle{min-height: 110px;}
.jqbao-open .jqb_minHless{min-height: 80px;}
.jqbao-open .jqb_mgl300{margin-left: 300px;}
.jqbao-open .jqb_mgl380{margin-left: 380px;}
.jqbao-open .jqb_resultBox{width: 950px;margin: 0 auto 10px;min-height: 100px;padding: 50px 0 10px;background: #f4fae1;border: 1px solid #ededed;}
.jqbao-open .jqb_pad20{padding: 0 20px;}
.jqbao-open .jqb_marg{margin: 30px auto 30px 0;}
.jqbao-open [class*=jqb_stateImg]{display: inline-block;float: left;width: 67px;height: 67px;background:url(./iconsprite.png) no-repeat top left;}
.jqbao-open [class*=jqb_stateWord]{margin-left: 80px;}
.jqbao-open .jqb_stateImg_ing{background-position: 0 -201px;}
.jqbao-open .jqb_stateImg_fail{background-position: 0 -268px;}
.jqbao-open .jqb_stateImg_success{background-position: 0 -335px;}
.jqbao-open .jqb_stateImg_todo{background-position: 0 -134px;}
.jqbao-open .jqb_h3{font-size: 26px;}
.jqbao-open .jqb_error_h3{line-height: 60px;font-size: 18px;}
.jqbao-open .jqb_h5{font-size: 18px;}
.jqbao-open .jqb_mgb10{margin-bottom: 10px;}
.jqbao-open .jqb_lh28{line-height: 28px;}
.jqb_btn_orange{width: 100px;margin: 10px auto 10px 80px;}
.jqbao-open .jqb_layout_box{}
.jqb_layout_box p{line-height: 28px;}
.jqb_layout_box p span{display: inline-block;min-width: 100px;text-align: right;margin-right: 20px;}
.jqb_layout_box .jqb_setBankCardTitle{font-weight: 700;}
.jqb_layout_box .jqb_banklist{padding: 5px 8px;}
.jqb_layout_box .jqb_bankli{background: url(./jqbBankLi.jpg) no-repeat;background-size: 290px 50px;width: 290px;height: 60px;display: inline-block;line-height: 50px;font-size: 16px;padding: 0 10px;margin-right: 15px;}
.jqb_layout_box .jqb_bankli .spanBankName{width: 140px;display: block;float: left;margin-left: 50px;margin-right: 5px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.jqb_layout_box .jqb_changeBankBtn{cursor : pointer;color: #1197b8;}
.jqb_layout_box .jqb_addBankBtn{display: block;background: url(./addIcon.png) no-repeat;line-height: 40px;height: 42px;border: 2px solid #f29742;width: 128px;margin-left: 25px;margin: 20px auto 20px 25px;padding: 2px;}
.jqb_layout_box .jqb_addWords{padding-left: 50px;border: 1px dashed #d4d4d4;cursor:pointer;}
.jqb_layout_box .jqb_formBtn{margin-top: 15px;margin-bottom: 20px;line-height: 34px;width: 105px;border: 0;background: #FF9138;color: #fff;cursor: pointer;}
.jqb_layout_box .jqb_formBtn:hover{background: #ffa358;}
