/*! define qqcg/build_o/0.0.2/index-debug.css */
/*! block qqcg/build_o/0.0.2/a-debug.css */
.a{
	font-size: 24px;
}
/*! endblock qqcg/build_o/0.0.2/a-debug.css */

/*! block qqcg/build_o/0.0.2/b-debug.css */
.b{
	font-size: 36px;
}
/*! endblock qqcg/build_o/0.0.2/b-debug.css */

/*! block qqcg/build_o/0.0.2/c-debug.css */
.c{
	font-size: 54px;
}
/*! endblock qqcg/build_o/0.0.2/c-debug.css */
