/*! define pafweblib/temporary/1.0.0/breadcrumb-debug.css */
.breadcrumb{padding: 55px 0px 65px;clear:both;height: 0px;line-height: 0px;}
.breadcrumb>li{background: #ddd; height:4px; display:inline-block; position:relative; float:left;}
ul.breadcrumb li:after{content: '';}
.breadcrumb>li.hilite {background: #0087e3;}
.breadcrumb>li>.marker {position:absolute; right:0; margin-top:-12px; margin-right:-25%; z-index:3;}
.breadcrumb>li.hilite>.marker .symbol{background:#0087e3; color: #fff;}
.breadcrumb>li>.marker .symbolwrapper{display:block; text-align:center;}
.breadcrumb>li>.marker .symbol {font-weight: bold; background: #ddd; display: inline-block; text-align:center; border-radius: 50%; height: 28px; width: 28px; line-height: 28px;}
.breadcrumb>li>.marker>.text{
	margin-top: 10px;
	display:block; 
	text-align:center; color: #999; font-weight:600;
}
.breadcrumb>li.hilite>.marker>.text{color:#0087e3;}
