/*! define consumer/transactiondetail/1.0.0/transactiondetail-debug.css */
/* consumer.transactiondetail style module */

@charset "utf-8";

/*! block pafweblib/grid/2.0.0/grid-debug.css */
/* Containers
----------------------------------------------------------------------------------------------------*/
.paf-container {
    margin: 30px auto 30px;
    width: 1000px;
}

.paf-row:before,
.paf-row:after {
    display: table;
    line-height: 0;
    content: "";
}

.paf-row:after {
    clear: both;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.paf-row [class*="grid-col-"]{
    display:inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.paf-row [class*="grid-col-"]:after{
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.paf-row .grid-ml-fixed {
    margin-left: 0;
}
.paf-row .grid-mr-fixed {
    margin-right: 0;
}

/* Grid >> 25 Columns
----------------------------------------------------------------------------------------------------*/

.paf-row .grid-col-1 {
    width:30px;
}

.paf-row .grid-col-2 {
    width:70px;
}

.paf-row .grid-col-3 {
    width:110px;
}

.paf-row .grid-col-4 {
    width:150px;
}

.paf-row .grid-col-5 {
    width:190px;
}

.paf-row .grid-col-6 {
    width:230px;
}

.paf-row .grid-col-7 {
    width:270px;
}

.paf-row .grid-col-8 {
    width:310px;
}

.paf-row .grid-col-9 {
    width:350px;
}

.paf-row .grid-col-10 {
    width:390px;
}

.paf-row .grid-col-11 {
    width:430px;
}

.paf-row .grid-col-12 {
    width:470px;
}

.paf-row .grid-col-13 {
    width:510px;
}

.paf-row .grid-col-14 {
    width:550px;
}

.paf-row .grid-col-15 {
    width:590px;
}

.paf-row .grid-col-16 {
    width:630px;
}

.paf-row .grid-col-17 {
    width:670px;
}

.paf-row .grid-col-18 {
    width:710px;
}

.paf-row .grid-col-19 {
    width:750px;
}

.paf-row .grid-col-20 {
    width:790px;
}

.paf-row .grid-col-21 {
    width:830px;
}

.paf-row .grid-col-22 {
    width:870px;
}

.paf-row .grid-col-23 {
    width:910px;
}

.paf-row .grid-col-24 {
    width:950px;
}

.paf-row .grid-col-25 {
    width:990px;
}

/* Prefix Extra Space >> 25 Columns
----------------------------------------------------------------------------------------------------*/

.paf-row .grid-prefix-1 {
    padding-left:40px;
}

.paf-row .grid-prefix-2 {
    padding-left:80px;
}

.paf-row .grid-prefix-3 {
    padding-left:120px;
}

.paf-row .grid-prefix-4 {
    padding-left:160px;
}

.paf-row .grid-prefix-5 {
    padding-left:200px;
}

.paf-row .grid-prefix-6 {
    padding-left:240px;
}

.paf-row .grid-prefix-7 {
    padding-left:280px;
}

.paf-row .grid-prefix-8 {
    padding-left:320px;
}

.paf-row .grid-prefix-9 {
    padding-left:360px;
}

.paf-row .grid-prefix-10 {
    padding-left:400px;
}

.paf-row .grid-prefix-11 {
    padding-left:440px;
}

.paf-row .grid-prefix-12 {
    padding-left:480px;
}

.paf-row .grid-prefix-13 {
    padding-left:520px;
}

.paf-row .grid-prefix-14 {
    padding-left:560px;
}

.paf-row .grid-prefix-15 {
    padding-left:600px;
}

.paf-row .grid-prefix-16 {
    padding-left:640px;
}

.paf-row .grid-prefix-17 {
    padding-left:680px;
}

.paf-row .grid-prefix-18 {
    padding-left:720px;
}

.paf-row .grid-prefix-19 {
    padding-left:760px;
}

.paf-row .grid-prefix-20 {
    padding-left:800px;
}

.paf-row .grid-prefix-21 {
    padding-left:840px;
}

.paf-row .grid-prefix-22 {
    padding-left:880px;
}

.paf-row .grid-prefix-23 {
    padding-left:920px;
}

.paf-row .grid-prefix-24 {
    padding-left:960px;
}

/* Suffix Extra Space >> 25 Columns
----------------------------------------------------------------------------------------------------*/

.paf-row .grid-suffix-1 {
    padding-right:40px;
}

.paf-row .grid-suffix-2 {
    padding-right:80px;
}

.paf-row .grid-suffix-3 {
    padding-right:120px;
}

.paf-row .grid-suffix-4 {
    padding-right:160px;
}

.paf-row .grid-suffix-5 {
    padding-right:200px;
}

.paf-row .grid-suffix-6 {
    padding-right:240px;
}

.paf-row .grid-suffix-7 {
    padding-right:280px;
}

.paf-row .grid-suffix-8 {
    padding-right:320px;
}

.paf-row .grid-suffix-9 {
    padding-right:360px;
}

.paf-row .grid-suffix-10 {
    padding-right:400px;
}

.paf-row .grid-suffix-11 {
    padding-right:440px;
}

.paf-row .grid-suffix-12 {
    padding-right:480px;
}

.paf-row .grid-suffix-13 {
    padding-right:520px;
}

.paf-row .grid-suffix-14 {
    padding-right:560px;
}

.paf-row .grid-suffix-15 {
    padding-right:600px;
}

.paf-row .grid-suffix-16 {
    padding-right:640px;
}

.paf-row .grid-suffix-17 {
    padding-right:680px;
}

.paf-row .grid-suffix-18 {
    padding-right:720px;
}

.paf-row .grid-suffix-19 {
    padding-right:760px;
}

.paf-row .grid-suffix-20 {
    padding-right:800px;
}

.paf-row .grid-suffix-21 {
    padding-right:840px;
}

.paf-row .grid-suffix-22 {
    padding-right:880px;
}

.paf-row .grid-suffix-23 {
    padding-right:920px;
}

.paf-row .grid-suffix-24 {
    padding-right:960px;
}
/*! endblock pafweblib/grid/2.0.0/grid-debug.css */

/*! block pafweblib/box/1.0.0/box-debug.css */
/* pafweblib.box 样式模块 */

.paf-box {
    border: 1px solid #ededed;
    zoom: 1;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.paf-box:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.paf-box-follow /*--使用在box和上面的box相连的情况下 --*/ {
    border-top: none;
}

.paf-box-head {
    border-bottom: 1px solid #ededed;
    position: relative;
    padding: 10px;
    height: 16px;
    line-height: 16px;
    background: #fcfcfc;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fafafa));
    background: -moz-linear-gradient(top, #fcfcfc, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#fafafa');
    background: -o-linear-gradient(top, #fcfcfc, #fafafa);
    background: linear-gradient(top, #fcfcfc, #fafafa);
    zoom: 1;
}

.paf-box-forehead{
    border-bottom: 0 none;
}

.paf-box-head .paf-box-head-title {
    color: #656565;
    font-size: 16px;
    font-weight: bold;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

.paf-box-head .paf-box-head-more {
    float: right;
}

.paf-box-head .paf-box-head-text {
    margin-left: 10px;
    color: #808080;
    float: left;
}

.paf-box-container {
    background: #fff;
    border-bottom: 1px solid #ededed;
}

.paf-box-content /* 可选，用于默认有内边距的box */ {
    padding: 10px;
}
/*! endblock pafweblib/box/1.0.0/box-debug.css */

/*! block pafweblib/table/2.0.0/table-debug.css */
/* 表格样式 module */
.paf-table {
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border: 10px solid #f9f9f9;
    background-color: #f9f9f9;
    table-layout: fixed;
    border-collapse:separate;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
}

.paf-table th,
.paf-table td {
    margin-top: 0px;
    padding: 8px;
    line-height: 1.4;
    text-align: left;
    vertical-align: top;
    background-color: transparent;
    border-top: 10px solid #f9f9f9;
    color: #818181;
    font-weight: normal;
}

.paf-table tr th {
    vertical-align: bottom;
    border-top: 0 none;
}
.paf-table tr td{
    background-color: #fff;
}
.paf-table tr:hover td{
    background-color: #ebebeb;
}
/*! endblock pafweblib/table/2.0.0/table-debug.css */

/*! block pafweblib/form/1.0.0/form-debug.css */
/*
** form
** @Author: xujia
*/
.paf-form {
    font-size: 14px;
    color: #333;
}

.paf-form fieldset {
    border:0;
}

.paf-form legend {
    display: none;
}

.paf-form .control-group {
    margin-bottom: 10px;
    *zoom: 1;
}

.paf-form .control-group:before,
.paf-form .control-group:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.paf-form .control-label {
    float: left;
    width: 160px;
    line-height: 30px;
    text-align: right;
}

.paf-form .controls {
    line-height: 30px;
    margin-left: 170px;
    color: #666;
}

.paf-form input{
    padding: 6px 4px;
    width: 230px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #bbb;
    color: #666;
}

.paf-form select{
    width: 240px;
    height: 30px;
    border: 1px solid #bbb;
    color: #666;
}

.paf-form textarea {
    line-height: 16px;
    border: 1px solid #bbb;
    padding: 2px 4px;
    width: 230px;
    height: 48px;
    overflow: auto;
    font-size: 14px;
}
.paf-form .control-group-checkbox .controls{
    line-height: 1.4;
    font-size: 12px;
    cursor: default;
}
.paf-form .control-group-checkbox .checkbox{
    width: auto;
    height: auto;
    vertical-align: baseline;
    margin-right: 4px;
    padding: 0px;
    border: 0 none;
}

.paf-form .control-group-btn .controls{
    width: 238px;
}

.paf-form .control-group-btn button{
    margin-right: 8px;
}

.paf-form input:active, .paf-form input:focus, .paf-form input:hover,
.paf-form textarea:active, .paf-form textarea:focus, .paf-form textarea:hover{
    border: 1px #aaa solid;
    box-shadow: none;
    outline: none;
    outline-offset: 0
}

.paf-form input:disabled,.paf-form input.disabled,
.paf-form textarea:disabled,.paf-form textarea.disabled{
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.paf-form :-moz-placeholder,.paf-form :-ms-input-placeholder,.paf-form :-webkit-input-placeholder {
    color: #cccccc;
}

.paf-form .help-block{
    margin: 0;
    padding: 4px 0 0;
    color: #aaa;
    line-height: 1.4;
}

.paf-form .help-inline{
    margin-left: 8px;
    color: #aaa;
}

.paf-form .control-group-error input{
    border: 1px solid #f00;
}

.paf-form .control-group-error .help-block{
    color: #f00;
}

.paf-form .control-group-success .help-block{
    color: #659324;
}
/*! endblock pafweblib/form/1.0.0/form-debug.css */

/*! block pafweblib/btn/2.0.0/btn-debug.css */
/* 默认样式 */
.paf-btn {
    display: inline-block;
    *display: inline;
    padding: 11px 18px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 16px;
    line-height: 1;
    color: #818181;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    font-weight: normal;
    *zoom: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.paf-btn:hover,
.paf-btn:focus,
.paf-btn:active,
.paf-btn.active {
    color: #fff;
    background-color: #0087e3;
    border-color: #0087e3;
}

.paf-btn.disabled,
.paf-btn[disabled],
.paf-btn[disabled]:hover,
.paf-btn[disabled]:active{
    color: #818181;
    background-color: #c7c7c7;
    border-color: #c7c7c7;
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

/* 可选项: 尺寸大小 */
.paf-btn-large {
    padding: 13px 21px;
    font-size: 20px;
}

.paf-btn-small {
    padding: 7px 12px;
    font-size: 14px;
}

/* 颜色可选项: primary、info */
.paf-btn-primary {
    color: #ffffff;
    border-color: #0087e3;
    background-color: #0087e3;
}

.paf-btn-primary:hover,
.paf-btn-primary:focus,
.paf-btn-primary:active,
.paf-btn-primary.active {
    border-color: #0a77cf;
    background-color: #0a77cf;
}

/* 主颜色背景下的按钮 */
.paf-btn-bg-primary{
    color: #fff;
    background-color: #0087e3;
    border-color: #fff;
}
.paf-btn-bg-primary:hover,
.paf-btn-bg-primary:focus,
.paf-btn-bg-primary:active,
.paf-btn-bg-primary.active {
    color: #0087e3;
    border-color: #fff;
    background-color: #fff;
}
/*! endblock pafweblib/btn/2.0.0/btn-debug.css */

/*! block consumer/transactiondetail/1.0.0/transactiondetail-main-debug.css */
.spaf-box{margin-bottom: 20px;}
.spaf-box .paf-box-head-title{font-weight: normal;}

.paf-form{margin: 10px 0px;}
.paf-form .control-label, .paf-form .controls{line-height: 22px;}
.paf-form .control-group{margin-bottom: 0px;}

.paf-table{table-layout: auto; }
.paf-table .t1{width: 10%; }
.paf-table .t2{width: 34%; }
.paf-table .t3{width: 10%; }
.paf-table .t4{width: 10%; }
.paf-table .t5{width: 10%; }
.paf-table .t6{width: 10%; }
.paf-table .t7{width: 10%; }
.t3 p, .t6 p{width: 104px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.paf-table tr td{vertical-align: middle;}
/*! endblock consumer/transactiondetail/1.0.0/transactiondetail-main-debug.css */
