/*! define consumer/hqbao-index/1.0.0/hqbao-index-debug.css */
/* hqb.index style module */

/*! block pafweblib/box/1.0.0/box-debug.css */
/* pafweblib.box 样式模块 */

.paf-box {
    border: 1px solid #ededed;
    zoom: 1;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.paf-box:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.paf-box-follow /*--使用在box和上面的box相连的情况下 --*/ {
    border-top: none;
}

.paf-box-head {
    border-bottom: 1px solid #ededed;
    position: relative;
    padding: 10px;
    height: 16px;
    line-height: 16px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fafafa));
    background: -moz-linear-gradient(top, #fcfcfc, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#fafafa');
    background: -o-linear-gradient(top, #fcfcfc, #fafafa);
    background: linear-gradient(top, #fcfcfc, #fafafa);
    zoom: 1;
}

.paf-box-forehead{
    border-bottom: 0 none;
}

.paf-box-head .paf-box-head-title {
    color: #656565;
    font-size: 16px;
    font-weight: bold;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

.paf-box-head .paf-box-head-more {
    float: right;
}

.paf-box-head .paf-box-head-text {
    margin-left: 10px;
    color: #808080;
    float: left;
}

.paf-box-container {
    background: #fff;
    border-bottom: 1px solid #ededed;
}

.paf-box-content /* 可选，用于默认有内边距的box */ {
    padding: 10px;
}
/*! endblock pafweblib/box/1.0.0/box-debug.css */

/*! block arale/calendar/1.0.0/calendar-debug.css */
/*! block arale/calendar/1.0.0/css/date-debug.css */
/* date */
.ui-calendar-date {
  border: none;
  box-shadow: none;
  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;
}
table.ui-calendar-date tr {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
.ui-calendar-date td, .ui-calendar-date th {
  width: 34px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  cursor: pointer;
}
.ui-calendar-date .ui-calendar-day-column {
  background: #868686;
  color: #cacaca;
}
.ui-calendar-date .ui-calendar-day-column th {
  border-color: #868686;
  cursor: default;
}
.ui-calendar-date .ui-calendar-date-column .ui-calendar-day-0,
.ui-calendar-date .ui-calendar-date-column .ui-calendar-day-6 {
  color: #db693d;
}
.ui-calendar-date .ui-calendar-date-column td:hover {
  cursor: pointer;
  background-color: #FFDEB8;
}
.ui-calendar-date .ui-calendar-date-column td.previous-month,
.ui-calendar-date .ui-calendar-date-column td.next-month {
  color: #ccc;
}
.ui-calendar-date .ui-calendar-date-column td.previous-month:hover,
.ui-calendar-date .ui-calendar-date-column td.next-month:hover {
  cursor: default;
  border-color: #fff;
}
.ui-calendar-date .ui-calendar-date-column td.focused-element {
  color: #fff;
  background: #f57403;
}

.ui-calendar-date .ui-calendar-date-column td.disabled-element {
  background: #e2e2e2;
  color: #c3c3c3;
}
.ui-calendar-date .ui-calendar-date-column td.disabled-element:hover {
  border-color: #fff;
}
/*! endblock arale/calendar/1.0.0/css/date-debug.css */

/*! block arale/calendar/1.0.0/css/month-debug.css */
/* month */
.ui-calendar-month {
  border: none;
  box-shadow: none;
  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;
}
table.ui-calendar-month tr {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
.ui-calendar-month .ui-calendar-month-column td {
  width: 79px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  cursor: pointer;
}
.ui-calendar-month .ui-calendar-month-column td:hover {
  cursor: pointer;
  background-color: #FFDEB8;
}
.ui-calendar-month .ui-calendar-month-column td.focused-element {
  color: #fff;
  background: #f57403;
}
.ui-calendar-month .ui-calendar-month-column td.disabled-element {
  background: #e2e2e2;
  color: #c3c3c3;
}
.ui-calendar-month .ui-calendar-month-column td.disabled-element:hover {
  border-color: #fff;
}
/*! endblock arale/calendar/1.0.0/css/month-debug.css */

/*! block arale/calendar/1.0.0/css/year-debug.css */
/* year */
.ui-calendar-year {
  border: none;
  box-shadow: none;
  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;
}
table.ui-calendar-year tr {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
.ui-calendar-year .ui-calendar-year-column td {
  width: 79px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  cursor: pointer;
}
.ui-calendar-year .ui-calendar-year-column td:hover {
  cursor: pointer;
  background-color: #FFDEB8;
}
.ui-calendar-year .ui-calendar-year-column td.focused-element {
  color: #fff;
  background: #f57403;
}
.ui-calendar-year .ui-calendar-year-column td.disabled-element {
  background: #e2e2e2;
  color: #c3c3c3;
}
.ui-calendar-year .ui-calendar-year-column td.disabled-element:hover {
  border-color: #fff;
}
/*! endblock arale/calendar/1.0.0/css/year-debug.css */

.ui-calendar {
  position: absolute;
  font:14px/16px arial,'Hiragino Sans GB', sans-serif;
  font-weight: bold;
  background: #f9f9f9;
  border-spacing: 0;
  border: 1px solid #dadada;
  box-shadow: 1px 1px 9px #ccc;
  text-align: center;
  width: 238px;
  z-index: 10;
  color: #666;
}
.ui-calendar .ui-calendar-date,
.ui-calendar .ui-calendar-month,
.ui-calendar .ui-calendar-year
{
  border: none;
  box-shadow: none;
  border-collapse: separate;
  *border-collapse: collapse;
  border-spacing: 0;
  padding: 5px;
}
.ui-calendar .ui-calendar-pannel {
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
}
.ui-calendar .ui-calendar-pannel:after,
.ui-calendar .ui-calendar-pannel:before {
  display: table;
  line-height: 0;
  content: "";
}
.ui-calendar .ui-calendar-pannel:after {
  clear: both;
}
.ui-calendar .ui-calendar-control {
  display: inline-block;
  float: left;
  width: 13%;
  *display: inline;
  *width: 20px;
  *zoom: 1;
  cursor: pointer;
  font-weight: normal;
}
.ui-calendar .ui-calendar-control:hover {
  background-color: #efefee;
}
.ui-calendar .ui-calendar-pannel .month,
.ui-calendar .ui-calendar-pannel .year {
  width: 24%;
  font-weight: bold;
}
.ui-calendar-container{
  border-bottom: 1px solid #dadada;
  background-color: #fff;
}

.ui-calendar td.disabled-element {
  cursor: not-allowed!important;
}
/*! endblock arale/calendar/1.0.0/calendar-debug.css */

/*! block consumer/searchDateTab/1.0.0/searchDateTab-debug.css */
/* consumer.searchDateTab style module */

@charset "UTF-8";
.calendar .calendar-text{display: inline-block;}
.calendar .date{height: 24px; line-height:24px; border: solid 1px #b7b7b7; width: 126px; padding: 0 5px; background-color: #fcfcfc; cursor: pointer;}
.calendar .date-img{background: #fcfcfc url("/static/pinganfuweb-modules/consumer/searchDateTab/1.0.0/icon.png") 110px 2px no-repeat; }
.calendar .search{height: 30px; line-height: 30px; margin-left: 30px;}
.calendar .abtn:hover{color: #ffffff; background-color: #ffa358; text-decoration: none;}
.calendar .abtn{text-align: center; display: inline-block; border: 1px solid #ff9138; background-color: #ff9138; color: #ffffff; text-decoration: none; padding: 0px 20px;}
/*! endblock consumer/searchDateTab/1.0.0/searchDateTab-debug.css */

/*! block consumer/hqbao-index/1.0.0/hqb-open-debug.css */
[class*=hqb-open-]{display: inline-block; background: url(./has-open-hqb.png) no-repeat top left;}
.hqb-open-on{background-position: 0 7px; width: 18px; height: 24px;}
.hqb-open-off{background-position:0 -24px; width: 18px; height: 24px;}
/*! endblock consumer/hqbao-index/1.0.0/hqb-open-debug.css */

/*! block consumer/hqbao-index/1.0.0/index-debug.css */
.calendar .date{
    color:#666;
}

.paf-box-head {
    border-bottom: 0px;
}

.paf-box-head .paf-box-head-title {
    color:#693a2b;
    font-size: medium;
}

.paf-box-container {
    font-size: 14px;
}

.abtn{text-align: center; display: inline-block; border: 1px solid #0087e3; background-color: #0087e3; color: #ffffff; text-decoration: none; padding: 0px 20px;}
.introduce-text{font-size: 14px; display: inline-block; margin-left: 30px;}

.paf-box-container .hqb-info{height: 50px; line-height: 50px; padding: 0 20px; border-bottom: 1px solid #ededed;color:#909090}
.paf-box-container .hqb-amount-money{margin-right: 40px;}
.paf-box-container .hqb-history-income{margin-right: 30px;}
.paf-box-container i{font-style: normal; color: #0087e3;}
.paf-box-container .switch-in{line-height: 30px; margin-right: 5px;}
.paf-box-container .switch-in:hover{color: #ffffff; background-color: #0a77cf; text-decoration: none;}
.paf-box-container .switch-out{background-color: #ffffff; border: 1px solid #ededed; color: #666; line-height: 30px;}
.paf-box-container .switch-out:hover{background-color: #0a77cf; color: #ffffff; border: 1px solid #0a77cf; text-decoration: none;}

.paf-box-container .hqb-fn-set{padding: 0 10px;}
.paf-box-container .set-title{color:#693a2b;font-size: medium;font-weight: bold;margin: 15px 0px 10px 0px;}
.paf-box-container .set-content{margin-bottom: 15px; height: 30px; line-height: 30px;}
.paf-box-container .set-status{display: inline-block; margin-right: 20px; color: #666;}
.paf-box-container .set-status-img{display: inline-block; margin-right: 5px; width: 15px; height: 15px;}
.paf-box-container .set-status .set-status-text{display: inline-block; width: 45px; padding-left: 25px;}
.paf-box-container .set-text{display: inline-block; color: #909090;}
.paf-box-container .set-text1{margin-right: 20px;}
.paf-box-container .open-hqb{display: inline-block; float: right;}

.hqb-table{margin-top: 10px;}
.hqb-table .bottom-date-widget{height: 45px; line-height: 45px; padding: 0 20px;color: #666;}
.hqb-table .isPairs{background-color: #fcfcfc;}
.hqb-table .bottom-center li{font-size: 15px; cursor: pointer; width: 156px; height: 45px; line-height: 45px; float: left; display: inline-block; text-align: center; border: 1px solid #ededed; border-left: 0; margin-bottom: 10px; background-color: #fcfcfc;}
.hqb-table .bottom-center .selettype-last{border-right: 0; width: 159px;}
.hqb-table .bottom-center li a{color: #666; text-decoration: none; width: 156px; height: 44px; display: inline-block;}
.hqb-table .bottom-center-selecttype .select-active a{color: #693a2b; background-color: #ffffff; border-bottom: 0;}

.hqb-table .bottom-center ul, .content .bottom-table-page ul{list-style-type: none; display: inline-block;}

.hqb-table .bottom-table{padding:0 20px;}
.hqb-table .bottom-table-msg{margin-bottom: 10px;}
.hqb-table table thead tr{background-color: #f2f2f2; height: 35px; line-height: 35px;}
.hqb-table .table-normal th{text-align: left; width: 250px; font-weight: normal;color: #666;}
.hqb-table .table-normal thead .t1{margin-left: 60px;}
.hqb-table .table-normal thead .t2{margin-left: 110px;}
.hqb-table .table-normal thead .t3{margin-left: 155px;}
.hqb-table table tbody tr{height: 35px; line-height: 35px; border-bottom: 1px solid #ededed;color: #666;}
.hqb-table .table-normal tbody .td1{padding-left: 38px;}
.hqb-table .table-normal tbody .td2{padding-left: 104px;}
.hqb-table .table-normal tbody .td3{padding-left: 145px;}
.hqb-table .table-normal tbody .td33{padding-left: 155px;}
.hqb-table .table-7rate th{font-weight: normal; text-align: left; width: 320px;}
.hqb-table .table-7rate thead .t{width: 430px;}
.hqb-table .table-7rate thead .t1{margin-left: 25px;}
.hqb-table .table-7rate tbody .td1{padding-left: 10px;}
.hqb-table .table-7rate tbody .td2{padding-left: 30px;}
.hqb-table .bottom-table-page{margin-bottom: 5px; overflow: hidden;}
.hqb-table .bottom-table-page ul{float: right;}
.hqb-table .bottom-table-page li{float: left; display: inline-block; margin: 0 5px; height: 25px; line-height: 23px;}
.hqb-table .page{display: inline-block; border: 1px solid #ededed; text-decoration: none; padding: 0px 4px;}
.hqb-table .curr{background: #0087e3; color: #fff; padding: 4px;}

.calendar .abtn {text-align: center; display: inline-block; border: 1px solid #0087e3; background-color: #0087e3; color: #fff; text-decoration: none; padding: 0 20px; }
.calendar .abtn:hover {border: 1px solid #0a77cf; background-color: #0a77cf; color: #fff; text-decoration: none; }
/*! endblock consumer/hqbao-index/1.0.0/index-debug.css */
