/*! define consumer/safecenter-baseinfo/1.0.0/baseinfo-debug.css */
.scBody .BottomBorder{border-bottom: 1px solid #ededed;}
.scBody .ul_list{padding: 20px;overflow: auto;}
.scBody .ul_list ul{overflow-y: auto;}
.scBody .ul_list ul li{float:left;line-height: 34px;overflow: hidden;}
.scBody .ul_list ul li a{color: #1f97b6;}
.scBody .ul_list ul li a:hover{text-decoration: underline;}
.scBody .ul_list ul .li1{width: 100px;padding-right: 20px;text-align: right;}
.scBody .ul_list ul .li2{width: 450px;padding-left: 5px;}
.scBody .ul_list ul .li3{width: 150px;}
.scBody .ul_list ul .adw{width: 85px;}
.scBody .lineBlockPadding{padding-left: 10px;display:inline-block;}
.scBody .lineBlockPadding2{margin-left: 50px;display:inline-block;}
.scBody .Group1 h2{line-height: 40px;padding-left: 20px;background: #fcfcfc;font-weight: bold;}
.scBody .leftSanJiao{width: 0;height: 0;border-top: 5px solid transparent;border-left: 10px solid #669;border-bottom: 5px solid transparent;}
.scBody .safeset ul .ssli1{width: 100px;}
.scBody .safeset ul .ssli2{width: 80px;padding-left: 5px;}
.scBody .safeset ul .ssli3{width: auto;padding-left: 10px;}
.scBody .safeset .sslight{color: #ff8137;font-size: 16px;}
.scBody .safeset .ss_share{text-align: center;float: right;}
.scBody .ss_border{border: 1px solid #ededed;}
.scBody .showss{width: 260px;height: 260px;text-align: center;}
.scBody .ss_showBox{position: relative;width: 120px;height: 120px;background: url(./scicon4.png) no-repeat;margin: 30px auto 40px;}
.scBody .ss_showBox4{width: 713px;margin: 0 auto;}
.scBody .ss_showBox4 .section1 img{margin: 15px 0;display: block;}
.scBody .ss_showBox4 .section1 p{line-height: 24px;}
.scBody .ss_showBox4 ul{overflow: inherit;padding-left: 20px;list-style: disc;}
.scBody .ss_showBox4 ul li{overflow: inherit;list-style: disc;line-height: 20px;margin-bottom: 10px;}
.scBody .ss_showimg{width: 52px;height: 86px;margin-left: 32px;padding-top: 16px;}
.scBody .ss_finger{margin-top: -42px;margin-left: 10px;}
.scBody .ss_clear{clear: both;zoom: 1;}
.scBody .errmsgDiv{color: red;text-align: center;line-height: 30px;background: #d2d2d2;margin-bottom: 5px;}
