/* consumer.searchDateTab style module */

@charset "UTF-8";
.calendar .calendar-text{display: inline-block;}
.calendar .date{height: 24px; line-height:24px; border: solid 1px #b7b7b7; width: 126px; padding: 0 5px; background-color: #fcfcfc; cursor: pointer;}
.calendar .date-img{background: #fcfcfc url("/static/pinganfuweb-modules/consumer/searchDateTab/1.0.0/icon.png") 110px 2px no-repeat; }
.calendar .search{height: 30px; line-height: 30px; margin-left: 30px;}
.calendar .abtn:hover{color: #ffffff; background-color: #ffa358; text-decoration: none;}
.calendar .abtn{text-align: center; display: inline-block; border: 1px solid #ff9138; background-color: #ff9138; color: #ffffff; text-decoration: none; padding: 0px 20px;}
