/*! define pafweblib/tipbox/1.0.0/tipbox-debug.css */
/* alice.tipbox 样式模块 */

.paf-tipbox {
    position: relative;
    zoom: 1;
    font-size: 14px;
    line-height: 1.5;
}

.paf-tipbox .paf-tipbox-icon {
    background: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 22px;
    left: 48px;
}

.paf-tipbox-icon .paf-iconfont {
    font-size: 40px;
    position: absolute;
    top: -7px;
    left: -7px;
    width: 32px;
    height: 32px;
    line-height: 36px;
    text-shadow: 0 1px 0 #fff;
}

.paf-tipbox-message {
    border: 1px solid #b2e2ea;
    background: #e5f2f8;
}

.paf-tipbox-message .paf-tipbox-icon .paf-iconfont {
    color: #68b5e2;
}

.paf-tipbox-success {
    border: 1px solid #e4edc5;
    background: #f4fae1;
}

.paf-tipbox-success .paf-tipbox-icon .paf-iconfont {
    color: #b5de70;
}

.paf-tipbox-error {
    background: #FDEEE9;
    border: 1px solid #fadcd3;
}

.paf-tipbox-error .paf-tipbox-icon .paf-iconfont {
    color: #f17975;
}

.paf-tipbox-warning {
    background: #fefea4;
    border: 1px solid #e6e098;
}

.paf-tipbox-warning .paf-tipbox-icon .paf-iconfont {
    color: #ff9966;
}

.paf-tipbox-question {
    border: 1px solid #b2e2ea;
    background: #e0f4ff;
}

.paf-tipbox-question .paf-tipbox-icon .paf-iconfont {
    color: #66cae2;
}

.paf-tipbox-content {
    margin: 14px 0 14px 100px;
}

.paf-tipbox-content .paf-tipbox-title {
    margin: 0;
    padding: 0;
}

.paf-tipbox-content h3.paf-tipbox-title,
.paf-tipbox-content-simple h3.paf-tipbox-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.paf-tipbox-content-simple {
    margin: 22px 0 22px 88px;
}

.paf-tipbox-explain {
    margin: 0;
    padding: 0;
    color: #808080;
}

.paf-tipbox-white  {
    background: #fff;
    border: 1px solid transparent;
    _border-color:tomato;   /* fix ie6 dont support border transparent */
    _filter:chroma(color=tomato);
}

/* */
.paf-result-page{
    padding: 40px 0;
}
.paf-result-page .paf-tipbox-icon{
    top: 62px;
}
