/*! define consumer/withdrawtocard/1.0.0/withdrawToCard-debug.css */
/* 活钱宝产品 - 转出到银行卡整合样式 */

/*! block pafweblib/icons/1.0.0/icons-bank-all-debug.css */
[class*=icon-bank-]{ display: inline-block;width: 124px; height: 28px; background: url(/static/pinganfuweb-modules/pafweblib/icons/1.0.0/sprite-bank-all.png) no-repeat top left;background-position: -9999px -9999px;}
.icon-bank-abc{ background-position: 0 0; width: 124px; height: 28px; } 
.icon-bank-anrcu{ background-position: 0 -78px; width: 124px; height: 28px; } 
.icon-bank-ascb{ background-position: 0 -156px; width: 124px; height: 28px; } 
.icon-bank-aycb{ background-position: 0 -234px; width: 124px; height: 28px; } 
.icon-bank-bankofbbg{ background-position: 0 -312px; width: 124px; height: 28px; } 
.icon-bank-bankofyk{ background-position: 0 -390px; width: 124px; height: 28px; } 
.icon-bank-bccb{ background-position: 0 -468px; width: 124px; height: 28px; } 
.icon-bank-bdcb{ background-position: 0 -546px; width: 124px; height: 28px; } 
.icon-bank-beeb{ background-position: 0 -624px; width: 124px; height: 28px; } 
.icon-bank-bfs{ background-position: 0 -702px; width: 124px; height: 28px; } 
.icon-bank-boc{ background-position: 0 -780px; width: 124px; height: 28px; } 
.icon-bank-bocd{ background-position: 0 -858px; width: 124px; height: 28px; } 
.icon-bank-bocom{ background-position: 0 -936px; width: 124px; height: 28px; } 
.icon-bank-cbhb{ background-position: 0 -1014px; width: 124px; height: 28px; } 
.icon-bank-bos{ background-position: 0 -1092px; width: 124px; height: 28px; } 
.icon-bank-bjrcb{ background-position: 0 -1170px; width: 124px; height: 28px; } 
.icon-bank-bsb{ background-position: 0 -1248px; width: 124px; height: 28px; } 
.icon-bank-cazccb{ background-position: 0 -1326px; width: 124px; height: 28px; } 
.icon-bank-ccab{ background-position: 0 -1404px; width: 124px; height: 28px; } 
.icon-bank-ccb{ background-position: 0 -1482px; width: 124px; height: 28px; } 
.icon-bank-ccqtgb{ background-position: 0 -1560px; width: 124px; height: 28px; } 
.icon-bank-cdbank{ background-position: 0 -1638px; width: 124px; height: 28px; } 
.icon-bank-cdrcb{ background-position: 0 -1716px; width: 124px; height: 28px; } 
.icon-bank-ceb{ background-position: 0 -1794px; width: 124px; height: 28px; } 
.icon-bank-cib{ background-position: 0 -1872px; width: 124px; height: 28px; } 
.icon-bank-cmb{ background-position: -324px 0; width: 124px; height: 28px; } 
.icon-bank-cmbc{ background-position: -324px -78px; width: 124px; height: 28px; } 
.icon-bank-cncb{ background-position: -324px -156px; width: 124px; height: 28px; } 
.icon-bank-cqcbank{ background-position: -324px -234px; width: 124px; height: 28px; } 
.icon-bank-cqrcb{ background-position: -324px -312px; width: 124px; height: 28px; } 
.icon-bank-cscb{ background-position: -324px -390px; width: 124px; height: 28px; } 
.icon-bank-csrc{ background-position: -324px -468px; width: 124px; height: 28px; } 
.icon-bank-cycb{ background-position: -324px -546px; width: 124px; height: 28px; } 
.icon-bank-czcb{ background-position: -324px -624px; width: 124px; height: 28px; } 
.icon-bank-czccb{ background-position: -324px -702px; width: 124px; height: 28px; } 
.icon-bank-bankofdl{ background-position: -324px -780px; width: 124px; height: 28px; } 
.icon-bank-dgcb{ background-position: -324px -858px; width: 124px; height: 28px; } 
.icon-bank-drcb{ background-position: -324px -936px; width: 124px; height: 28px; } 
.icon-bank-dycb{ background-position: -324px -1014px; width: 124px; height: 28px; } 
.icon-bank-dyccb{ background-position: -324px -1092px; width: 124px; height: 28px; } 
.icon-bank-dzcc{ background-position: -324px -1170px; width: 124px; height: 28px; } 
.icon-bank-eqwb{ background-position: -324px -1248px; width: 124px; height: 28px; } 
.icon-bank-fjhx{ background-position: -324px -1326px; width: 124px; height: 28px; } 
.icon-bank-fjnx{ background-position: -324px -1404px; width: 124px; height: 28px; } 
.icon-bank-ftyzb{ background-position: -324px -1482px; width: 124px; height: 28px; } 
.icon-bank-gdb{ background-position: -324px -1560px; width: 124px; height: 28px; } 
.icon-bank-gdrcu{ background-position: -324px -1638px; width: 124px; height: 28px; } 
.icon-bank-ghbank{ background-position: -324px -1716px; width: 124px; height: 28px; } 
.icon-bank-glccb{ background-position: -324px -1794px; width: 124px; height: 28px; } 
.icon-bank-gxrcu{ background-position: -324px -1872px; width: 124px; height: 28px; } 
.icon-bank-gycb{ background-position: -648px 0; width: 124px; height: 28px; } 
.icon-bank-gzcb{ background-position: -648px -78px; width: 124px; height: 28px; } 
.icon-bank-gzccb{ background-position: -648px -156px; width: 124px; height: 28px; } 
.icon-bank-gzcu{ background-position: -648px -234px; width: 124px; height: 28px; } 
.icon-bank-hbb{ background-position: -648px -312px; width: 124px; height: 28px; } 
.icon-bank-hbcb{ background-position: -648px -390px; width: 124px; height: 28px; } 
.icon-bank-hbccb{ background-position: -648px -468px; width: 124px; height: 28px; } 
.icon-bank-hbrcu{ background-position: -648px -546px; width: 124px; height: 28px; } 
.icon-bank-hdcb{ background-position: -648px -624px; width: 124px; height: 28px; } 
.icon-bank-hebbank{ background-position: -648px -702px; width: 124px; height: 28px; } 
.icon-bank-hhrcu{ background-position: -648px -780px; width: 124px; height: 28px; } 
.icon-bank-hkbank{ background-position: -648px -858px; width: 124px; height: 28px; } 
.icon-bank-hldccb{ background-position: -648px -936px; width: 124px; height: 28px; } 
.icon-bank-hnnxs{ background-position: -648px -1014px; width: 124px; height: 28px; } 
.icon-bank-hnrcu{ background-position: -648px -1092px; width: 124px; height: 28px; } 
.icon-bank-hscb{ background-position: -648px -1170px; width: 124px; height: 28px; } 
.icon-bank-hsccb{ background-position: -648px -1248px; width: 124px; height: 28px; } 
.icon-bank-hubrcu{ background-position: -648px -1326px; width: 124px; height: 28px; } 
.icon-bank-hxb{ background-position: -648px -1404px; width: 124px; height: 28px; } 
.icon-bank-hzcb{ background-position: -648px -1482px; width: 124px; height: 28px; } 
.icon-bank-icbc{ background-position: -648px -1560px; width: 124px; height: 28px; } 
.icon-bank-jcccb{ background-position: -648px -1638px; width: 124px; height: 28px; } 
.icon-bank-jhccb{ background-position: -648px -1716px; width: 124px; height: 28px; } 
.icon-bank-jjccb{ background-position: -648px -1794px; width: 124px; height: 28px; } 
.icon-bank-jlccb{ background-position: -648px -1872px; width: 124px; height: 28px; } 
.icon-bank-jlrcu{ background-position: -972px 0; width: 124px; height: 28px; } 
.icon-bank-jnccb{ background-position: -972px -78px; width: 124px; height: 28px; } 
.icon-bank-jrcb{ background-position: -972px -156px; width: 124px; height: 28px; } 
.icon-bank-jsbk{ background-position: -972px -234px; width: 124px; height: 28px; } 
.icon-bank-jsrcu{ background-position: -972px -312px; width: 124px; height: 28px; } 
.icon-bank-jxccb{ background-position: -972px -390px; width: 124px; height: 28px; } 
.icon-bank-jxrcu{ background-position: -972px -468px; width: 124px; height: 28px; } 
.icon-bank-jzbank{ background-position: -972px -546px; width: 124px; height: 28px; } 
.icon-bank-jzccb{ background-position: -972px -624px; width: 124px; height: 28px; } 
.icon-bank-klb{ background-position: -972px -702px; width: 124px; height: 28px; } 
.icon-bank-klrcb{ background-position: -972px -780px; width: 124px; height: 28px; } 
.icon-bank-kmcb{ background-position: -972px -858px; width: 124px; height: 28px; } 
.icon-bank-lhccb{ background-position: -972px -936px; width: 124px; height: 28px; } 
.icon-bank-ljbank{ background-position: -972px -1014px; width: 124px; height: 28px; } 
.icon-bank-lsbank{ background-position: -972px -1092px; width: 124px; height: 28px; } 
.icon-bank-lsbc{ background-position: -972px -1170px; width: 124px; height: 28px; } 
.icon-bank-lsccb{ background-position: -972px -1248px; width: 124px; height: 28px; } 
.icon-bank-lszcb{ background-position: -972px -1326px; width: 124px; height: 28px; } 
.icon-bank-lzbank{ background-position: -972px -1404px; width: 124px; height: 28px; } 
.icon-bank-lzccb{ background-position: -972px -1482px; width: 124px; height: 28px; } 
.icon-bank-mintaibank{ background-position: -972px -1560px; width: 124px; height: 28px; } 
.icon-bank-nbcb{ background-position: -972px -1638px; width: 124px; height: 28px; } 
.icon-bank-ncbank{ background-position: -972px -1716px; width: 124px; height: 28px; } 
.icon-bank-ncccb{ background-position: -972px -1794px; width: 124px; height: 28px; } 
.icon-bank-ndhb{ background-position: -972px -1872px; width: 124px; height: 28px; } 
.icon-bank-njcb{ background-position: -1296px 0; width: 124px; height: 28px; } 
.icon-bank-nmgccb{ background-position: -1296px -78px; width: 124px; height: 28px; } 
.icon-bank-nmgrcu{ background-position: -1296px -156px; width: 124px; height: 28px; } 
.icon-bank-ordosbank{ background-position: -1296px -234px; width: 124px; height: 28px; } 
.icon-bank-pab{ background-position: -1296px -312px; width: 124px; height: 28px; } 
.icon-bank-pdscb{ background-position: -1296px -390px; width: 124px; height: 28px; } 
.icon-bank-psbc{ background-position: -1296px -468px; width: 124px; height: 28px; } 
.icon-bank-pzhccb{ background-position: -1296px -546px; width: 124px; height: 28px; } 
.icon-bank-qdccb{ background-position: -1296px -624px; width: 124px; height: 28px; } 
.icon-bank-qhbank{ background-position: -1296px -702px; width: 124px; height: 28px; } 
.icon-bank-qhdccb{ background-position: -1296px -780px; width: 124px; height: 28px; } 
.icon-bank-qhrcu{ background-position: -1296px -858px; width: 124px; height: 28px; } 
.icon-bank-qjccb{ background-position: -1296px -936px; width: 124px; height: 28px; } 
.icon-bank-qlbank{ background-position: -1296px -1014px; width: 124px; height: 28px; } 
.icon-bank-qzcb{ background-position: -1296px -1092px; width: 124px; height: 28px; } 
.icon-bank-rzbank{ background-position: -1296px -1170px; width: 124px; height: 28px; } 
.icon-bank-scrcu{ background-position: -1296px -1248px; width: 124px; height: 28px; } 
.icon-bank-sdbc{ background-position: -1296px -1326px; width: 124px; height: 28px; } 
.icon-bank-sdebank{ background-position: -1296px -1404px; width: 124px; height: 28px; } 
.icon-bank-sdrcu{ background-position: -1296px -1482px; width: 124px; height: 28px; } 
.icon-bank-sjccb{ background-position: -1296px -1560px; width: 124px; height: 28px; } 
.icon-bank-smxccb{ background-position: -1296px -1638px; width: 124px; height: 28px; } 
.icon-bank-snccb{ background-position: -1296px -1716px; width: 124px; height: 28px; } 
.icon-bank-spdb{ background-position: -1296px -1794px; width: 124px; height: 28px; } 
.icon-bank-sqbank{ background-position: -1296px -1872px; width: 124px; height: 28px; } 
.icon-bank-srbank{ background-position: -1620px 0; width: 124px; height: 28px; } 
.icon-bank-srcb{ background-position: -1620px -78px; width: 124px; height: 28px; } 
.icon-bank-sxrcu{ background-position: -1620px -156px; width: 124px; height: 28px; } 
.icon-bank-sxydrcu{ background-position: -1620px -234px; width: 124px; height: 28px; } 
.icon-bank-zuzhoubank{ background-position: -1620px -312px; width: 124px; height: 28px; } 
.icon-bank-szrcu{ background-position: -1620px -390px; width: 124px; height: 28px; } 
.icon-bank-taccb{ background-position: -1620px -468px; width: 124px; height: 28px; } 
.icon-bank-tccb{ background-position: -1620px -546px; width: 124px; height: 28px; } 
.icon-bank-tcrcb{ background-position: -1620px -624px; width: 124px; height: 28px; } 
.icon-bank-tjbhb{ background-position: -1620px -702px; width: 124px; height: 28px; } 
.icon-bank-tlcb{ background-position: -1620px -780px; width: 124px; height: 28px; } 
.icon-bank-tsbank{ background-position: -1620px -858px; width: 124px; height: 28px; } 
.icon-bank-tzbank{ background-position: -1620px -936px; width: 124px; height: 28px; } 
.icon-bank-uccb{ background-position: -1620px -1014px; width: 124px; height: 28px; } 
.icon-bank-wfccb{ background-position: -1620px -1092px; width: 124px; height: 28px; } 
.icon-bank-whccb{ background-position: -1620px -1170px; width: 124px; height: 28px; } 
.icon-bank-wjrcb{ background-position: -1620px -1248px; width: 124px; height: 28px; } 
.icon-bank-wuhaicb{ background-position: -1620px -1326px; width: 124px; height: 28px; } 
.icon-bank-wxrb{ background-position: -1620px -1404px; width: 124px; height: 28px; } 
.icon-bank-wzcb{ background-position: -1620px -1482px; width: 124px; height: 28px; } 
.icon-bank-xccbank{ background-position: -1620px -1560px; width: 124px; height: 28px; } 
.icon-bank-xjkccb{ background-position: -1620px -1638px; width: 124px; height: 28px; } 
.icon-bank-xmccb{ background-position: -1620px -1716px; width: 124px; height: 28px; } 
.icon-bank-xtbank{ background-position: -1620px -1794px; width: 124px; height: 28px; } 
.icon-bank-yaccb{ background-position: -1620px -1872px; width: 124px; height: 28px; } 
.icon-bank-ybccb{ background-position: -1944px 0; width: 124px; height: 28px; } 
.icon-bank-ycccb{ background-position: -1944px -78px; width: 124px; height: 28px; } 
.icon-bank-ynrcc{ background-position: -1944px -156px; width: 124px; height: 28px; } 
.icon-bank-yqccb{ background-position: -1944px -234px; width: 124px; height: 28px; } 
.icon-bank-yxccb{ background-position: -1944px -312px; width: 124px; height: 28px; } 
.icon-bank-zccb{ background-position: -1944px -390px; width: 124px; height: 28px; } 
.icon-bank-zgbank{ background-position: -1944px -468px; width: 124px; height: 28px; } 
.icon-bank-zjcbank{ background-position: -1944px -546px; width: 124px; height: 28px; } 
.icon-bank-zjkccb{ background-position: -1944px -624px; width: 124px; height: 28px; } 
.icon-bank-zkbank{ background-position: -1944px -702px; width: 124px; height: 28px; } 
.icon-bank-zrcbank{ background-position: -1944px -780px; width: 124px; height: 28px; } 
.icon-bank-zsb{ background-position: -1944px -858px; width: 124px; height: 28px; } 
.icon-bank-zyccb{ background-position: -1944px -936px; width: 124px; height: 28px; } 
.icon-bank-zzbank{ background-position: -1944px -1014px; width: 124px; height: 28px; } 
/*! endblock pafweblib/icons/1.0.0/icons-bank-all-debug.css */

/*! block pafweblib/icons/1.0.0/icons-state-all-debug.css */
[class*=icon-state]{ display: inline-block; background: url(/static/pinganfuweb-modules/pafweblib/icons/1.0.0/sprite-state-all.png) no-repeat top left;}
.icon-state-fail_16{ background-position: 0 0; width: 17px; height: 16px; }
.icon-state-fail_30{ background-position: 0 -66px; width: 30px; height: 30px; }
.icon-state-success_16{ background-position: 0 -146px; width: 16px; height: 16px; }
.icon-state-success_30{ background-position: 0 -212px; width: 30px; height: 30px; }
.icon-state-warn_16{ background-position: 0 -292px; width: 16px; height: 16px; }
/*! endblock pafweblib/icons/1.0.0/icons-state-all-debug.css */

/*! block pafweblib/icons/1.0.0/icons-form-all-debug.css */
[class*=icon-form-]{ display: inline-block; background: url(/static/pinganfuweb-modules/pafweblib/icons/1.0.0/sprite-form-all.png) no-repeat top left;}
.icon-form-check{ background-position: 0 0; width: 18px; height: 18px; }
.icon-form-checkfocus{ background-position: 0 -68px; width: 18px; height: 18px; }
.icon-form-selectarrow{ background-position: 0 -136px; width: 22px; height: 22px; }
/*! endblock pafweblib/icons/1.0.0/icons-form-all-debug.css */

/*! block pafweblib/notify/1.0.0/notify-debug.css */
/* 提示信息框模块 */

/* 基础样式 */
.paf-notify {
    display: block;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.4;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    color: inherit;
}

.paf-notify h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.paf-notify p{
    margin: 0;
}

.paf-notify .close {
    float: right;
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.paf-notify .close:hover,
.paf-notify .close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/* 替换类型: success、info、warn、error  */
.paf-notify-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.paf-notify-success h4 {
    color: #468847;
}

.paf-notify-warn {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
}

.paf-notify-warn h4 {
    color: #c09853;
}

.paf-notify-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.paf-notify-error h4 {
    color: #b94a48;
}

.paf-notify-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.paf-notify-info h4 {
    color: #3a87ad;
}
/*! endblock pafweblib/notify/1.0.0/notify-debug.css */

/*! block consumer/tabpanel/1.0.0/tabpanel-debug.css */
.tabpanel {
    border: 1px #ededed solid;
    *zoom: 1;
}

.tabpanel .tab-item-conainer {
    *zoom: 1;
}

.tabpanel .tab-item-conainer:after{
    content: '\0020';
    height: 0px;
    clear: both;
    display: table;
}

.tabpanel .tab-item-conainer{
    background-color: #fcfcfc;
    height: 40px;
    border-bottom: 1px solid #ededed;
}

.tabpanel .tab-item {
    display: inline;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align:center;
    border-right: 1px solid #ededed;
}

.tabpanel .tab-item a{
    display: block;
    padding: 0 32px;
    color: #666666;
    text-decoration: none;
}

.tabpanel .tab-item a:hover{
    color: #693a2b;
    line-height: 38px;
    background-color: #fff;
    text-decoration: none;
}

.tabpanel .tab-item-current{
    cursor: default;
    line-height: 38px;
    padding-top: 1px;
    background: #fff;
}

.tabpanel .tab-item-current a{
    color: #693a2b;
    cursor: default;
}

.tabpanel .item-more{
    float: right;
    line-height: 40px;
    color: #ff9138;
    font-weight: bold;
}

.tabpanel .item-more .icon-safe{
    display: inline-block;
    position: relative;
    top: 8px;
    margin: 0 8px;
    width: 18px;
    height: 22px;
    background: url("/static/consumer/consumer-modules/tabpanel/src/safe.png") no-repeat;
}

.tabpanel .panel-item{
    display: none;
    padding: 10px;
}

.tabpanel .panel-item-current{
    display: block;
}
/*! endblock consumer/tabpanel/1.0.0/tabpanel-debug.css */

/*! block pafweblib/pwdGrd/1.0.1/c-pwdGrd-debug.css */
/* pafweblib.pwdGrd style module
 * @author trsun
 */
.pafweblib-pwdGrd {
	border: 1px solid #bbbbbb;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
}

.pafweblib-pwdGrd-install {

	background: #CECECE;
	color: #FFF;

}

.pafweblib-pwdGrd-no-border {
  border:none;
}

.pafweblib-pwdGrd-merchant {
	font-size: 12px;
	margin-left: 0px;
}

.pafweblib-pwdGrd-customized {
	margin-left:0px;
}

.pafweblib-pwdGrd-merchant-customized {
  margin-left:0px;
}

.pafweblib-pwdGrd-merchant-customized a{
  color: #FFF;
}

.pafweblib-pwdGrd-inline{
	display:inline-block;
}

.pafweblib-pwdGrd-second-line{
  clear:both;
  float:left;
}

.pafweblib-pwdGrd-middle{
	vertical-align: middle;
}

.pafweblib-pwdGrd-margin{
  margin: 0!important;
}

.pafweblib-pwdGrd-tips {
	background: #a8a8a8;
	height: 28px;
	top: -25px;
	position: absolute;
	width: 180px;
	cursor: default;
}

.pafweblib-pwdGrd-tips-text {
	background: none repeat scroll 0 0 #ffff8d;
	border: 1px solid #dea90c;
	display: block;
	line-height: 20px;
	left: -2px;
	padding: 3px 5px;
	position: relative;
	top: -2px;
	width: 168px;
	color: #787878!important;
	font-size: 12px;
	text-align: center;
	z-index: 9998;
}

.pafweblib-pwdGrd-tips-angle {
	background: url(/static/pinganfuweb-modules/pafweblib/pwdGrd/1.0.1/img/tips-angle.png) no-repeat scroll transparent;
	display: block;
	height: 11px;
	left: 20px;
	overflow: hidden;
	line-height: 11px;
	position: absolute;
	top: 25px;
	width: 10px;
	z-index: 9999;
}

.pwdGrd-Dlg {
	border: 6px solid #767576;
	z-index: 1000;
}

.pwdGrd-Dlg-foot {
	height: 35px;
	border-top: 1px dotted #ccc;
	font: 12px/1.5em Tahoma,Helvetica,Arial,Simsun,sans-serif;
	color: #4d4d4d;
}

.ui-widget-overlay{
	opacity: .2;
	filter: alpha(opacity=20);
	-ms-filter: 'alpha(opacity=20)';
	background: #000;
}

.pwdGrd-Dlg div.ui-widget-header{
	border: 0px;
	border-bottom: 1px solid #dbdbdb;
	background-color: transparent!important;
	background-image: none!important;
}

.pwdGrd-Dlg .ui-widget-header span{
	color: #000;
	font: 18px/22px SimHei;
}

.pwdGrd-Dlg .ui-widget-content{
	background: #FFF;
	font: 12px/1.5em Tahoma,Helvetica,Arial,Simsun,sans-serif;
	color: #8c8c8c;
}

.pwdGrd-Dlg .ui-widget-content div{
  font: 12px/1.5em Tahoma,Helvetica,Arial,Simsun,sans-serif;
  color: #8c8c8c;
}

.pwdGrd-Dlg .ui-widget button{
	font-family: "Microsoft YaHei";
	font-size: 14px;
}

.pwdGrd-Dlg-memo{
	color: #0087e3;
	font-size: 14px;
	font-family: 'Microsoft YaHei','微软雅黑';
	font-weight: bold;
}

a.pwdGrd-Dlg-btn,a.pwdGrd-Dlg-btn:visited{
	color:#FFF;
	font-weight:bold;
	margin:0 auto;
	display: inline-block;
	padding: 7px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.428571429;
	font-family: "Microsoft YaHei";
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	min-width: 105px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-decoration:none;
	background-color: #0087E3;
	border-color: #0087E3;
}
a.pwdGrd-Dlg-btn:hover,a.pwdGrd-Dlg-btn:focus{
  	background-color: #0a77cf;
  	border-color: #0a77cf;
}
a.pwdGrd-Dlg-btn:active{
  background-color: #ff8138;
  border-color: #ff8138;
}
.pwdGrd-Dlg-close{
	float: right
}

.pwdGrd-Dlg-close em{
	color:#000;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	cursor: pointer;
	display: inline-block;
	color: #666666;
	padding-left: 5px;
}

.pwdGrd-Dlg-close s{
	-moz-transition: all .2s ease-in-out 0s;
	background: url(/static/pinganfuweb-modules/pafweblib/pwdGrd/1.0.1/img/close.png) no-repeat scroll transparent;
	cursor: pointer;
	display: inline-block;
	height: 11px;
	overflow: hidden;
	top: 6px;
	vertical-align: middle;
	width: 11px;
}
.pwdGrd-far-away{
	position:absolute;
	left:-4000px;
}
/*---------------merchantCss---------------*/
.merchant-commonForm-pwdGrd{
	border:solid 1px #BBBBBB;
	display:inherit;
}
.form-group .commonError span{
	color:#ff0000;background: url(/merchant/img/form.png)  -380px -20px no-repeat;padding-left:20px;font-size: 12px;line-height: 20px;height: 20px;display: inline-block;margin-left: 10px;
}
/*! endblock pafweblib/pwdGrd/1.0.1/c-pwdGrd-debug.css */

/*! block pafweblib/form/1.0.0/form-debug.css */
/*
** form
** @Author: xujia
*/
.paf-form {
    font-size: 14px;
    color: #333;
}

.paf-form fieldset {
    border:0;
}

.paf-form legend {
    display: none;
}

.paf-form .control-group {
    margin-bottom: 10px;
    *zoom: 1;
}

.paf-form .control-group:before,
.paf-form .control-group:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.paf-form .control-label {
    float: left;
    width: 160px;
    line-height: 30px;
    text-align: right;
}

.paf-form .controls {
    line-height: 30px;
    margin-left: 170px;
    color: #666;
}

.paf-form input{
    padding: 6px 4px;
    width: 230px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #bbb;
    color: #666;
}

.paf-form textarea {
    line-height: 16px;
    border: 1px solid #bbb;
    padding: 2px 4px;
    width: 230px;
    height: 48px;
    overflow: auto;
    font-size: 14px;
}
.paf-form .control-group-checkbox .controls{
    line-height: 1.4;
    font-size: 12px;
    cursor: default;
}
.paf-form .control-group-checkbox .checkbox{
    width: auto;
    height: auto;
    vertical-align: baseline;
    margin-right: 4px;
    padding: 0px;
    border: 0 none;
}

.paf-form .control-group-btn .controls{
    width: 238px;
}

.paf-form .control-group-btn button{
    margin-right: 8px;
}

.paf-form input:active, .paf-form input:focus, .paf-form input:hover,
.paf-form textarea:active, .paf-form textarea:focus, .paf-form textarea:hover{
    border: 1px #aaa solid;
    box-shadow: none;
    outline: none;
    outline-offset: 0
}

.paf-form input:disabled,.paf-form input.disabled,
.paf-form textarea:disabled,.paf-form textarea.disabled{
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.paf-form :-moz-placeholder,.paf-form :-ms-input-placeholder,.paf-form :-webkit-input-placeholder {
    color: #cccccc;
}

.paf-form .help-block{
    margin: 0;
    padding: 4px 0 0;
    color: #aaa;
    line-height: 1.4;
}

.paf-form .help-inline{
    margin-left: 8px;
    color: #aaa;
}

.paf-form .control-group-error input{
    border: 1px solid #f00;
}

.paf-form .control-group-error .help-block{
    color: #f00;
}

.paf-form .control-group-success .help-block{
    color: #659324;
}
/*! endblock pafweblib/form/1.0.0/form-debug.css */

/*! block pafweblib/form/1.0.0/select-debug.css */
/*
** select
** @Author:
*/

/* Base styles */
.paf-select {
    display: inline-block;
    position: relative;
    width: 240px;
}

.paf-select select {
    display: none;
}

.paf-select .selectHeader{
    height: 30px;
    padding: 0 30px 0 4px;
    line-height: 30px;
    border: solid 1px #b7b7b7;
    cursor: pointer;
}
.paf-select .selectHeader .text-input {
    float: left;
    padding: 0 4px 0 0;
}
.paf-select .selectHeader .icon-form-selectarrow{
    position: absolute;
    right: 4px;
    top: 4px;
}
.paf-select .selectBody {
    display: none;
    position: absolute;
    top: 31px;
    width: 100%;
    margin: 0;
    padding: 1px 0;
    z-index: 5;
    max-height: 180px;
    overflow: auto;
    background-color: #b7b7b7;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.paf-select .selectBody .option {
    list-style: none;
    height: 30px;
    line-height: 30px;
    margin: 0 1px;
    padding: 0 4px;
    background-color: #f2f2f2;
    border-bottom: dotted 1px #b7b7b7;
    cursor: pointer;
}

.paf-select .selectBody .option:last-child{
    border-bottom-width: 0px;
}

.paf-select .selectBody .option:hover {
    background-color: #f6f6f6;
}
/*! endblock pafweblib/form/1.0.0/select-debug.css */

/*! block pafweblib/btn/2.0.0/btn-debug.css */
/* 默认样式 */
.paf-btn {
    display: inline-block;
    *display: inline;
    padding: 11px 18px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 16px;
    line-height: 1;
    color: #818181;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    font-weight: normal;
    *zoom: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.paf-btn:hover,
.paf-btn:focus,
.paf-btn:active,
.paf-btn.active {
    color: #fff;
    background-color: #0087e3;
    border-color: #0087e3;
}

.paf-btn.disabled,
.paf-btn[disabled],
.paf-btn[disabled]:hover,
.paf-btn[disabled]:active{
    color: #818181;
    background-color: #c7c7c7;
    border-color: #c7c7c7;
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

/* 可选项: 尺寸大小 */
.paf-btn-large {
    padding: 13px 21px;
    font-size: 20px;
}

.paf-btn-small {
    padding: 7px 12px;
    font-size: 14px;
}

/* 颜色可选项: primary、info */
.paf-btn-primary {
    color: #ffffff;
    border-color: #0087e3;
    background-color: #0087e3;
}

.paf-btn-primary:hover,
.paf-btn-primary:focus,
.paf-btn-primary:active,
.paf-btn-primary.active {
    border-color: #0a77cf;
    background-color: #0a77cf;
}

/* 主颜色背景下的按钮 */
.paf-btn-bg-primary{
    color: #fff;
    background-color: #0087e3;
    border-color: #fff;
}
.paf-btn-bg-primary:hover,
.paf-btn-bg-primary:focus,
.paf-btn-bg-primary:active,
.paf-btn-bg-primary.active {
    color: #0087e3;
    border-color: #fff;
    background-color: #fff;
}
/*! endblock pafweblib/btn/2.0.0/btn-debug.css */

/*! block consumer/withdrawtocard/1.0.0/withdrawToCard-main-debug.css */
.withdraw-layout{
    margin-top: 12px;
    margin-bottom: 12px;
}

.number{
    color: #0087e3;
}

#hqbDrawForm{
    min-height: 250px;
}
#hqbDrawForm .help-block {
    margin-left: 0;
}
#hqbDrawForm input{
    width: 270px;
}
#hqbDrawForm button[type="submit"]{
	width:280px;
}
.form-explain {
    width:280px;
    clear:both;
    color: #9a9a9a;
    margin-left: 0;
}

/*模块样式-银行块*/
.block-bank{
    display: inline-block;
    height: 28px;
    width: auto;
    line-height: 28px;
    padding: 1px 0px;
    text-align: left;
    cursor: pointer;
}
.block-bank span.icon-payCardType {
    float: none;
    display: inline-block;
    padding-left: 124px;
    width: auto;
}

.withdrawTypeToggleBtn{
    background: url(/img/addBankIcon.png) no-repeat 20px center;
    display: inline-block;
    padding-left: 53px;
    width: 100px;
    line-height: 30px;
    border: 1px dashed #ccc;
    vertical-align: top;
}
.table-limits{
    width: auto;
    margin-bottom: 0px;
}
.table-limits th{
    color: #666;
}
.table-limits td{
    color: #999;
}
#selectBoxIframe{
	position:absolute;height:0px;max-height:180px;
}
div.paf-select,#selectBoxIframe{width:280px;}
#bankSelectBox{display:inline-block;}
div.bankSelectTip{height:30px;}
div.bankSelectTip span{float:left;}
.control-group{clear:both;}
.tabpanel .item-more {
	float: right;
	line-height: 40px;
	color: #0087e3;
	font-weight: 700;
}
/*! endblock consumer/withdrawtocard/1.0.0/withdrawToCard-main-debug.css */
