/*! define pafweblib/loginDialog/1.0.0/loginDialog-debug.css */
input:-webkit-autofill {background-color: #FAFFBD;background-image: none;color: #000;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;}
.pafweblib-loginDialog{margin: 0 auto;color: #333}
.pafweblib-loginDialog h1{font-size: 16px;padding: 10px;background: #f7f7f7;border-bottom: 1px solid #dfdfdf;}
.pafweblib-loginDialog .ContControls{margin: 30px auto;width: 530px;}
.pafweblib-loginDialog .loginLabelTitle{font-size: 16px;color: #ff8a17;padding-left: 75px;margin-bottom: 20px;}
.ContControls .BeforePwdActive{display: inline;padding-right: 60px;}
.ContControls .AfterPwdActive{border:1px solid #aaa}
.ContControls .loginFormErrors{color: red;}
.ContControls .paf-login-largeBtn{width: 240px;}
.ContControls .loginMessageTips{text-align: center;line-height: 1;margin-bottom: 20px;color: red;}
