/*! define pafweblib/table/1.0.0/table-debug.css */
/* 表格样式 module */
paf-table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.paf-table {
    width: 100%;
    margin-bottom: 20px;
}

.paf-table th,
.paf-table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.paf-table th {
    font-weight: bold;
}

.paf-table thead th {
    vertical-align: bottom;
}

.paf-table caption + thead tr:first-child th,
.paf-table caption + thead tr:first-child td,
.paf-table colgroup + thead tr:first-child th,
.paf-table colgroup + thead tr:first-child td,
.paf-table thead:first-child tr:first-child th,
.paf-table thead:first-child tr:first-child td {
    border-top: 0;
}

.paf-table tbody + tbody {
    border-top: 2px solid #dddddd;
}

.paf-table .paf-table {
    background-color: #ffffff;
}

.paf-table.condensed th,
.paf-table.condensed td {
    padding: 4px 5px;
}

.paf-table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.paf-table-bordered th,
.paf-table-bordered td {
    border-left: 1px solid #dddddd;
}

.paf-table-bordered caption + thead tr:first-child th,
.paf-table-bordered caption + tbody tr:first-child th,
.paf-table-bordered caption + tbody tr:first-child td,
.paf-table-bordered colgroup + thead tr:first-child th,
.paf-table-bordered colgroup + tbody tr:first-child th,
.paf-table-bordered colgroup + tbody tr:first-child td,
.paf-table-bordered thead:first-child tr:first-child th,
.paf-table-bordered tbody:first-child tr:first-child th,
.paf-table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.paf-table-bordered thead:first-child tr:first-child > th:first-child,
.paf-table-bordered tbody:first-child tr:first-child > td:first-child,
.paf-table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.paf-table-bordered thead:first-child tr:first-child > th:last-child,
.paf-table-bordered tbody:first-child tr:first-child > td:last-child,
.paf-table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.paf-table-bordered thead:last-child tr:last-child > th:first-child,
.paf-table-bordered tbody:last-child tr:last-child > td:first-child,
.paf-table-bordered tbody:last-child tr:last-child > th:first-child,
.paf-table-bordered tfoot:last-child tr:last-child > td:first-child,
.paf-table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.paf-table-bordered thead:last-child tr:last-child > th:last-child,
.paf-table-bordered tbody:last-child tr:last-child > td:last-child,
.paf-table-bordered tbody:last-child tr:last-child > th:last-child,
.paf-table-bordered tfoot:last-child tr:last-child > td:last-child,
.paf-table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.paf-table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}

.paf-table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.paf-table-bordered caption + thead tr:first-child th:first-child,
.paf-table-bordered caption + tbody tr:first-child td:first-child,
.paf-table-bordered colgroup + thead tr:first-child th:first-child,
.paf-table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.paf-table-bordered caption + thead tr:first-child th:last-child,
.paf-table-bordered caption + tbody tr:first-child td:last-child,
.paf-table-bordered colgroup + thead tr:first-child th:last-child,
.paf-table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.paf-table-striped tbody > tr:nth-child(odd) > td,
.paf-table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.paf-table-hover tbody tr:hover > td,
.paf-table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}

.paf-table-fixed{
    table-layout: fixed;
    border-collapse:separate;
}
.paf-table-break{
    word-wrap: break-word;
    word-break: break-all;
}
